@import '../../node_modules/angular-material/angular-material.scss';
@import '../../node_modules/ng-table/src/styles/ng-table.scss';

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white;
}

.solicitanteForm {
  md-radio-group.sexo {
    > md-radio-button {
      display: inline-block;
    }
  }

  .md-datepicker-input-container {
    min-width: 150px;
  }

  .solicitud {
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }

    .md-button {
      padding: 0;
    }
  }
}

.steps-wrapper {
  height: 60px;
  width: 100%;

  .steps {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 10000;

    .step {

        > div {
        padding: 10px;
        min-height: 40px;

        &:hover {
          box-shadow: 10px 10px 5px #c9c9c9;
        }

        h3 {
          margin-top: 0;
          text-align: center;
          font-weight: 400;
        }

        p {
          margin: 3px;
          line-height: 1em;
          font-size: .9em;

          &.danger {
            color: red;
          }
        }

        button {
          margin: 0 auto;
        }

      }

      .capturada {
        background-color: lightgrey;

        &:not(.disabled) {
          box-shadow: 10px 10px 5px #c9c9c9;
        }
      }
      .escalada {
        background-color: lightcoral;

        &:not(.disabled) {
          box-shadow: 10px 10px 5px #c9c9c9;
        }
      }
      .derivada {
        background-color: lightblue;

        &:not(.disabled) {
          box-shadow: 10px 10px 5px #c9c9c9;
        }
      }
      .finalizada {
        background-color: lightgreen;

        &:not(.disabled) {
          box-shadow: 10px 10px 5px #c9c9c9;
        }
      }

      .disabled {
        opacity: .5;
        background-color: #e9e9e9;
        &:hover {
          opacity: 1;
        }
      }

      .solicitud-derivaciones {
        list-style: square inside;
        margin: 0;
        padding: 0;
        font-size: .9em;
        line-height: 1.5em;
        text-align: left;

        li {
          &:hover {
          }
        }
      }

      &:before {
        content: ''
      }

      &:after {
        content: ''
      }
    }
  }
}

.label-seguimiento {
  font-weight: 600;
  display: block;
  font-size: .9em;
  line-height: 1.5em;

  &.horizontal {
    display: inline-block;
  }
}

.content-seguimiento {
  font-size: .9em;
  padding-bottom: 20px;
  > div[flex] {
    > div {
      padding: 5px;
    }
  }
}

.descripcion-solicitud {
  margin-bottom: 10px;
  border-radius: 5px;
}

.table-sigesa {
  font-size: .9em;
  border: 1px solid #c9c9c9;
  border-collapse: collapse;

  tr {
    &:nth-child(even) {
      background-color: #e9e9e9;
    }

    th {
      padding: .5em;
      background-color: #c9c9c9;
    }

    td {
      padding: .5em;
      border: 1px solid #e9e9e9;
    }
  }
}


.page-login{
    display: table;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    .center {
        display: table-cell;
        padding-top: 95px;
        text-align: inherit;
    }

    .card {
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    width: 400px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    .card-header {
        padding: 10px;
        background-color: #336699;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

        .card-title{
            vertical-align: center;
            width: 400px;
            text-align: right;
            color:white !important; 
            font-size: 1.2em; 
            padding: 0px;

        }
    }

    .card-content {
        padding: 20px;
        border-radius: 0 0 2px 2px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
}

.datos-usuario {
  font-size: .8em;
  text-align: center;
  line-height: 2em;
  padding: 10px 20px 5px 20px;
  font-weight: bold;
}

.table-detalles {
  font-size: .9em;
  width: 100%;

  tr {

    > th, > td {
      border-bottom: 1px dashed #c9c9c9;
      padding: 5px;
    }

    th {
      font-size: .9em;
      text-align: left;
      /*min-width: 50px;*/
      padding-right: 10px;
    }
    td {
      vertical-align: top;
      text-align: left;
    }
  }

}

.solicitud-container {

  margin-bottom: 100px;

  md-card {
    background-color: #f2f2f2;

    &.card-seguimiento {
      background-color: #e0ebeb;
    }
  }

}

.md-autocomplete-suggestions {

  li {
    &:hover {
      background-color: lightblue!important;
    }
  }

}

.sigesa-toolbar {
  position: fixed;
  top: 0;
  z-index: 10000;
}

.main-container {
  margin-top: 64px;

  .menu-lateral {
    position: fixed;
    height: calc(100vh - 64px);

    .lista-solicitudes {
      overflow-y: scroll;
      height: calc(100% - 150px);
      padding: 0 0 0 4px;

      .md-subheader {

        .md-subheader-inner {
          font-size: 1.3em;
          font-weight: 700;
          padding: 8px 8px 8px 0!important;
        }

      }
    }
  }

  .container-solicitudes {
    margin-left: 20%;
  }
}

.ng-table {
  width: 100%;
  border-collapse: collapse;
  font-size: .9em;

  thead {
    background-color: #c9c9c9;

    tr {
      th {
        padding: 5px;
        border: 1px solid #e2e2e2;
      }
    }
  }

  tbody {

    tr {
      td {
        padding: 10px;
        border: 1px solid #e2e2e2;
      }

      &:nth-child(even) {
        background-color: #e1e1e1;
      }
    }

  }


}

.resumen-solicitudes-container {

  ul.pagination {
    list-style: none;
    margin: 20px;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      border: 1px solid #c9c9c9;
      background-color: lightblue;
      font-size: 1.1em;
      color: #000;

      &.active {
        background-color: darkgrey;
        color: #fff;
      }

      a {
        line-height: 20px;
        padding: 10px 20px 10px 20px;
        color: inherit;
        text-decoration: none;

        &:hover {
          background-color: darkgrey;
          color: #fff;
        }
      }
    }
  }

}

.contadores {
  position: fixed;
  right: 20px;
  height: 60px;
  top: 10px;
  z-index: 10000;
  
  .menu-reportes{
    float: left;
    margin-right: 30px;
    color: #FFF;
    font-size: 1.2em;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
  }

  .semaforo {
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    color: #000;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 45px;
    text-align: center;
    text-decoration: none;

    &.rojo {
      background-color: red;
    }

    &.naranja {
      background-color: orange;
    }

    &.verde {
      background-color: green;
    }

    &.gris {
      color: #FFF;
      background-color: #294986;
      border: 1px solid #FFF;
    }
  }
}

.md-autocomplete-suggestions {
  li:hover {
    background-color: lightblue!important;
  }
}

md-optgroup {
  md-option:hover {
    background-color: lightblue!important;
  }
}

.md-select-menu-container, .md-datepicker-calendar-pane {
  z-index: 10001;
}

.resaltar:focus{
  border: 1px solid #05449A;
}

.mayusculas {
  text-transform: uppercase;
}

.centrar{
  text-align: center;
}

.md-datepicker-input{
  .reporteOperativo{
    min-width: 150px;
  }
}

.graficas{
  table{
    width: 100%;
  }
}