<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<div align="center">
	<div flex="20" style="margin: 24px; text-align: right;">
		<a href="#" ng-click="$event.preventDefault();imprimirSeguimiento($event,'imprimirSeguimiento');"><md-tooltip md-direction="right">Imprimir Bitácora de seguimiento</md-tooltip><md-icon>print</md-icon></a>
	</div>	
</div>
<div id="imprimirSeguimiento" align="center" style="width: 90%; padding-left: 5%; ">
    <table style="width: 100%; padding: 5px 0 5px 0;">
        <tbody>
        	<tr>
        		<td></td>
        		<td style="width: 100%; ">
        			<p style="font-size: 1.3em; font-weight: bold;">SISTEMA UNIFICADO DE GESTIÓN PARA LA ATENCIÓN Y ORIENTACIÓN AL USUARIO DE LOS SERVICIOS DE SALUD</p>
        			<p>Bitácora de Seguimiento de Solicitudes de Atención</p>
        		</td>
        		<td></td>
        	</tr>
        	<tr>
        		<td style="font-weight: bold;">Fecha registro en plataforma SUG:</td>
        		<td style="border: 1px solid black; font-size: .9em;width:10%"></td>
                <td style="border: 1px solid black; font-size: .9em;width:10%"></td>
                <td style="border: 1px solid black; font-size: .9em;width:10%"></td>
                <td>Folio generado por la plataforma SUG:</td>
                <td style="border: 1px solid black; font-size: .9em;width:25%"></td>></td>
        	</tr>
        	<tr>
        		<td colspan="18" style="font-size: .9em;text-align: left; border-top: 3px solid #CCCCCC;">Espacio para registro del personal del Sistema Unificado de Gestión</td>	
        	</tr>
        </tbody>
    </table>
    
    <table style="width: 100%; padding: 5px 0 5px 0; border-collapse: collapse; border: 1px solid black">
        <tbody>        	
        	<tr>
        		<td>De acuerdo al análisis de los datos expuestos por el usuario, y en apego a los Lineamientos vigentes del SUG, se determina:</td>
        	</tr>
        	<tr style="border-top: 2px solid #CCCCCC; border-bottom: 2px solid #CCCCCC;">
        		<td style="font-weight: bold; width:20%">1. Validación: </td>
        		<td style="width:5%">Procede</td>
        		<td style="border: 1px solid black; font-size: .9em;width:10%"></td>
        		<td style="width:5%">No procede</td>
        		<td></td>
        	</tr>
        	<tr>
        		<td style="border: 1px solid black; text-align: center">Miguel Ángel Ramírez Salazar</td>
        		<td style="border: 1px solid black; text-align: center">Masculino</td>
        		<td style="border: 1px solid black; text-align: center">32</td>
        		<td style="border: 1px solid black; text-align: center">3014089842</td>
        		<td style="border: 1px solid black; text-align: center">RASM840512HVZMLG07</td>
        	</tr>
        </tbody>
    </table>
    <br>
    <table style="width: 100%; padding: 5px 0 5px 0; border-collapse: collapse; border: 1px solid black; text-align: center">
        <tbody>
        	<tr style="font-weight: bold; text-align: center; background-color: #CCCCCC;">
        		<td style="border: 1px solid black; width: 30%">DIRECCIÓN</td>
        		<td style="border: 1px solid black; width: 20%">MUNICIPIO</td>
        		<td style="border: 1px solid black; width: 20%">TELÉFONOS</td>
        		<td style="border: 1px solid black; width: 30%">EMAIL</td>
        	</tr>
        	<tr>
        		<td style="border: 1px solid black;">Avenida Lázarp Cárdenas 11, Colonia Miguel Hidalgo y Costilla, C.P. 91143, Xalapa, Veracruz.</td>
        		<td style="border: 1px solid black;">Xalapa</td>
        		<td style="border: 1px solid black;"><p>1652415</p><p>2282 18 24 32</p></td>
        		<td style="border: 1px solid black;">ramseslive@hotmail.com</td>
        	</tr>
		</tbody>
	</table>
	
	<p style="font-weight: bold; font-size: 1.2em; text-align: left">2. Investigación</p>
	<table style="width: 100%; border-collapse: collapse;border: 1px solid black" >
		<tbody>
			<thead style="font-weight: bold; text-align: center; background-color: #CCCCCC;">
				<td style="border: 1px solid black; width:13%">OPERADOR</td>
				<td style="border: 1px solid black; width:61%">DESCRIPCIONES</td>
				<td style="border: 1px solid black; width:13%">FECHA Y HORA</td>
				<td style="border: 1px solid black; width:13%">ESTATUS</td>
			</thead>
			<tr>
				<td style="border: 1px solid black;">V-CJAL</td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
			</tr>
			<tr>
				<td style="border: 1px solid black">JA-CFM</td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
			</tr>
			<tr>
				<td style="border: 1px solid black;">V-CJAL</td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
			</tr>
			<tr>
				<td style="border: 1px solid black;">V-CJAL</td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
			</tr>
			<tr>
				<td style="border: 1px solid black;">V-CJAL</td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
			</tr>
			<tr>
				<td style="border: 1px solid black;">V-CJAL</td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
				<td style="border: 1px solid black;"></td>
			</tr>
		</tbody>
	</table>
	<table style="width: 100%; border-collapse: collapse;border: 1px solid black; font-size: .8em; ">
		<tbody>
			<tr style="font-weight: bold; text-align: center;">
				<td style="border: 1px solid black; width: 20%">ÁREAS(S) RESPONSABLE DE SEGUIMIENTO</td>
				<td style="border: 1px solid black; width: 50%">Validación de Servicios de Terceros (Para seguimiento del surtimiento de medicamentos)</td>
				<td style="border: 1px solid black; width: 15%">Tiempo de resolución </td>
				<td style="border: 1px solid black; width: 15%"></td>
			</tr>
			<tr>
				<td style="border: 1px solid black; text-align: left">
					<p style="font-weight: bold">OBSERVACIONES</p>
					<p style="font-weight: bold">JEFE DE DEPARTAMENTO DE ATENCIÓN A SOLICITUDES DE BENEFICIARIOS</p>
				</td>
				<td style="border: 1px solid black;" colspan="3"></td>
			</tr>
			<tr>
				<td style="border: 1px solid black; font-weight: bold">CONCLUSIONES</td>
				<td style="border: 1px solid black;"  colspan="3"></td>
			</tr>
		</tbody>
	</table>

	<p style="font-weight: bold; font-size: 1.2em; text-align: left">3. Validación del área que genera el ticket</p>

	<table style="width: 100%; font-size: .8em; border-collapse: collapse; text-align: center;" >
		<tbody>
			<tr>
				<td style="border: 1px solid black;"><p>HÉCTOR CRUZ ABURTO</p><p style="font-weight: bold">SUPERVISOR DEL CENTRO DE ATENCIÓN TELEFÓNICA DEL REVEPSS</p><p>(Elabora)</p></td>
				<td style="border: 1px solid black;"><p>JOSÉ CARLOS MADRAZO CAZARÍN</p>	<p style="font-weight: bold">DEPARTAMENTO DE ATENCIÓN A SOLICITUDES DE BENEFICIARIOS</p> <p>(Supervisa)</p></td>
				<td style="border: 1px solid black;"><p>SABRINA GONZÁLEZ MARTÍNEZ</p>	<p style="font-weight: bold">SUBDIRECCIÓN DE GARANTÍA Y ATENCIÓN A BENEFICIARIOS</p> <p>(Valida)</p></td>
			</tr>
		</tbody>
	</table>

	<p style="font-weight: bold; font-size: 1.2em; text-align: left">4. Área que recibe el ticket</p>
	<table align="left" style="font-size: .8em; border-collapse: collapse; text-align: center; width: 100%" >
 		<tbody>
			<tr>
				<td style="border: 1px solid black; width: 33%"><p>GILBERTO TAPIA JAIME</p><p style="font-weight: bold">VALIDACIÓN DE SERVICIOS DE TERCEROS</p><p>(Recibe)</p></td>
				<td style="width: 66%"></td>
			</tr>
		</tbody>
	</table>
	<br><br><br>
	
	<p style="font-weight: bold">Régimen Veracruzano de Protección Social en Salud</p>
	<p>Tapachula No. 6 Col. Badillo C.P. 91045, Xalapa, Veracruz. Tel: (228) 841 82 50 </p>
	<p style="font-weight: bold">www.seguropopularveracruz.gob.mx</p>
</div>