<style type="text/css" media="screen">
md-input-container {
    width: 100%;
}
</style>
<section ng-controller="ContraseniaCtrl" style="min-width: 500px; padding: 1em;">
    <form name="formChangePassword" ng-submit="formChangePassword.$valid && changePassword(currentPassword, newPassword)" accept-charset="utf-8" style="margin: 0 auto;">
        <table width="100%">
            <caption class="md-headline">Cambio de contraseña</caption>
            <tbody>
                <tr>
                    <td>
                        <md-input-container>
                            <label>Contraseña actual</label>
                            <input type="password" ng-model="currentPassword" class="validate" focus-me="true" required="" />
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input-container>
                            <label>Nueva contraseña</label>
                            <input type="password" ng-model="newPassword" required="" ng-class="{'valid': newPassword.length > 0}" />
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input-container>
                            <label>Confirme su contraseña</label>
                            <input type="password" ng-model="confirmNewPassword" ng-change="validatePassword(newPassword, confirmNewPassword)" ng-class="{'valid': confirmNewPassword.length > 0 && passwordValid, 'invalid': confirmNewPassword.length > 0 && !passwordValid}" required="" />
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div ng-show="mensaje" style="color: {{mensaje.color}}"><md-icon style="color: {{mensaje.color}}">{{mensaje.icono}}</md-icon> {{mensaje.texto}}</div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <md-button type="submit" class="md-primary md-raised md-hu-2 md-padding resaltar" ng-disabled="formChangePassword.$invalid || !passwordValid">
                            Aceptar
                            <md-icon md-font-icon="material-icons">save</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>