<md-dialog style="min-width: 900px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Unidades Administrativas</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-autocomplete
          md-selected-item="unidadDerivar"
          md-selected-item-change="agregarUnidadDerivar(unidadDerivar);"
          md-search-text="searchText"
          md-items="unidad in query(searchText)"
          md-item-text="unidad.descripcion_unidad_administrativa"
          md-min-length="0"
          placeholder="Seleccione las Unidades Administrativas a las cuales desea derivar la solicitud">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{unidad.descripcion_unidad_administrativa}}</span>
          </md-item-template>
        </md-autocomplete>

        <div ng-if="unidadesDerivar.length > 0">
          <h5>Unidades Administrativas a derivar:</h5>
          <ol style="list-style: none">
            <li ng-repeat="unidad in unidadesDerivar track by unidad.id_unidad_administrativa" style="line-height: 2em">{{unidad.descripcion_unidad_administrativa}} (<a href="#" ng-click="quitarUnidadDerivar($index)">Quitar</a>)</li>
          </ol>
        </div>

        <md-input-container style="width: 100%">
          <label>Observaciones</label>
          <textarea rows="5" ng-model="observaciones" required></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="close()">Cancelar</md-button>
      <md-button ng-click="derivar(idSolicitud, unidadesDerivar, observaciones)" ng-disabled="unidadesDerivar.length === 0 || (observaciones.length === 0 || observaciones === undefined)">Derivar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
