<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Coincidencia de personas</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <table class="table-sigesa">
          <tr>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Nombre</th>
            <th>CURP</th>
            <th>Fecha de Nac.</th>
            <th>Domicilio</th>
            <th></th>
          </tr>

          <tr ng-repeat="persona in coincidenciasPersonas">
            <td>{{persona.primer_apellido}}</td>
            <td>{{persona.segundo_apellido}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.curp}}</td>
            <td>{{persona.fecha_nacimiento | date}}</td>
            <td>{{persona.entidad_federativa_domicilio}}, {{persona.municipio_domicilio}}, {{persona.localidad_domicilio || ''}}, persona.domicilio</td>
            <td><a href="#" ng-click="$event.preventDefault(); seleccionarPersona(solicitudIndex, personaIndex, persona)">Seleccionar</a></td>
          </tr>
        </table>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
