<md-dialog style="min-width: 900px; min-height: 500px">
  <form name="formAgregarDocumentacion" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar Seguimiento</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container flex ng-if="!estatusEditarObservacion" >
          <label>Observaciones</label>
          <textarea ng-model="editarObservacion.observacion" required rows="5" autofocus class=""></textarea>
        </md-input-container>

        <md-input-container flex ng-if="estatusEditarObservacion" >
          <label>Observaciones</label>
          <textarea ng-model="editarObservacion.observacion" required rows="5" autofocus class=""></textarea>
        </md-input-container>

        <md-input-container flex>
          <input type="file" file-model="archivos" value="{{archivos}}" set-file-data="archivos = value;" multiple aria-label="Agregar archivos">
        </md-input-container>

        <div ng-if="archivos.length > 0" flex>
          <ul style="margin: 0; padding: 0">
            <li ng-repeat="archivo in archivos">{{archivo.name}}</li>
          </ul>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button class="md-raised" ng-click="close()">Cancelar</md-button>
      <md-button class="md-raised md-primary" type="submit"
      ng-click="agregarDocumentacionSoporte(idSolicitud, editarObservacion.observacion, archivos)"
      ng-disabled="formAgregarDocumentacion.$invalid" ng-if="!estatusEditarObservacion">Agregar</md-button>
      <md-button class="md-raised md-primary" type="submit"
      ng-click="editarDocumentacionSoporte(idSolicitud, editarObservacion.id_observacion, editarObservacion.observacion, archivos)"
      ng-disabled="formAgregarDocumentacion.$invalid" ng-if="estatusEditarObservacion">Editar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
