<div ng-controller="FusaCtrl">
    <!--
    <section ng-if="!solicitud.fusa">
        <md-card>
            <md-card-title>
                <md-card-title-text class="md-headline">Registar FUSA</md-card-title-text>
            </md-card-title>
            <md-card-content layout="">
                <md-input-container flex>
                    <md-datepicker ng-model="fusa.fechaRegistroFusa" placeholder="Fecha" md-max-date="maxDate"></md-datepicker>
                </md-input-container>
                <md-input-container flex>
                    <label>Folio plataforma SUG</label>
                    <input type="text" ng-model="fusa.folioFusa">
                </md-input-container>
                <md-button class="md-primary md-raised md-hu-2 md-padding resaltar" ng-click="agregarFusa(solicitud, fusa)">
                    <md-icon md-font-icon="material-icons">save</md-icon>
                    Guardar
                </md-button>
            </md-card-content>
            </md-card/>
    </section>
    -->
    <section>
        <div layout="row">
            <div flex="90" layout="column">
                &nbsp;
            </div>
            <div flex="10" layout="column" style="padding: .5em">
                <a href="#" ng-click="$event.preventDefault();imprimirDiv($event,'imprimirFusa'+solicitud.idSolicitud);">
                    <md-tooltip md-direction="left">Imprimir</md-tooltip>
                    <md-icon>print</md-icon>
                </a>
            </div>
        </div>
        <div id="imprimirFusa{{solicitud.idSolicitud}}" align="center" style="width: 90%; padding-left: 5%">
            <table style="width: 100%; padding: 5px 0 5px 0;">
                <tbody>
                    <tr>
                        <td>
                            <img width="100%" src="{{baseUrl}}sigesa/dist/images/encabezado_fusa.jpeg">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%; padding: 5px 0 5px 0;">
                <tbody>
                    <tr>
                        <td colspan="18" style="font-size: .9em;text-align: left; border-top: 3px solid #CCCCCC;">Espacio para registro del personal del Sistema Unificado de Gestión</td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="3" style="font-weight: bold; width:29%; height: 1.7em; vertical-align: center; font-size: .9em; padding: .5em 0;">Fecha registro en plataforma SUG:</td>
                        <td colspan="2" style="border: 1px solid black; font-size: .9em; width:5%; text-align: center;">{{solicitud.fusa.fecha_registro_plataforma | date:'dd'}}</td>
                        <td colspan="2" style="border: 1px solid black; font-size: .9em; width:5%; text-align: center;">{{solicitud.fusa.fecha_registro_plataforma | date:'MM'}}</td>
                        <td colspan="2" style="border: 1px solid black; font-size: .9em; width:5%; text-align: center;">{{solicitud.fusa.fecha_registro_plataforma | date:'yyyy'}}</td>
                        <td colspan="6" style="font-weight: bold; width:38%; text-align: right; vertical-align: center; font-size: .9em;;">Folio Generado por la plataforma SUG:</td>
                        <td colspan="3" style="font-size: .9em;border: 1px solid black;width:18%">{{solicitud.fusa.folio_plataforma}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-weight: bold;"></td>
                        <td colspan="2" style="font-size:.5em; text-align:center;">día</td>
                        <td colspan="2" style="font-size:.5em; text-align:center;">mes</td>
                        <td colspan="2" style="font-size:.5em; text-align:center;">año</td>
                        <td colspan="6" style="font-weight: bold;"></td>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td colspan="18" style="border-bottom: 3px solid #CCCCCC;"></td>
                    </tr>
                    <tr style="padding:.5em 0">
                        <td colspan="18" style="text-align: center; font-weight: bold; font-size: .9em;">Para otorgarle una mejor atención proporcione los siguientes datos y al reverso describa su solicitud.</td>
                    </tr>
                    <tr style="padding:.5em 0">
                        <td colspan="18" style="background-color: #403939; color:#FFFFFF; text-align: center; font-weight: bold; letter-spacing: .2em;">Datos de Identificación</td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr style="padding: .5em 0;">
                        <td colspan="3" style="font-weight: bold; width:38%; vertical-align: center; font-size: .9em; height: 1.7em;">Indique si tiene Seguro Popular:</td>
                        <td colspan="1" style="text-align: right; width:3%; font-size: .9em;">Si</td>
                        <td colspan="1" style="border: 1px solid black; width:4%;font-size: .9em; text-align: center;"><span ng-if="solicitud.personas[0].folioSP">X</span></td>
                        <td colspan="1" style="text-align: right; width:3%; font-size: .9em;">No</td>
                        <td colspan="1" style="border: 1px solid black; width:4%; font-size: .9em; text-align: center;"><span ng-if="!solicitud.personas[0].folioSP">X</span></td>
                        <td colspan="2" style="font-weight: bold; width:9%; text-align: right; font-size: .9em;">Género:</td>
                        <td colspan="1" style="width:4%; font-size: .9em;">Femenino</td>
                        <td colspan="1" style="border: 1px solid black; font-size: .9em;width:4%; text-align: center;"><span ng-if="solicitud.personas[0].sexo == 'M'">X</span></td>
                        <td colspan="1" style="width:4%; font-size: .9em;">Masculino</td>
                        <td colspan="1" style="border: 1px solid black; font-size: .9em;width:4%; text-align: center;"><span ng-if="solicitud.personas[0].sexo == 'H'">X</span></td>
                        <td colspan="2" style="font-weight: bold; width: 8%; text-align: right; font-size: .9em;">Fecha:</td>
                        <td colspan="1" style="border: 1px solid black; font-size: .9em;width: 5%; text-align: center;">{{solicitud.fechaEvento | date:'dd'}}</td>
                        <td colspan="1" style="border: 1px solid black; font-size: .9em;width: 5%; text-align: center;">{{solicitud.fechaEvento | date:'MM'}}</td>
                        <td colspan="1" style="border: 1px solid black; font-size: .9em;width: 5%; text-align: center;">{{solicitud.fechaEvento | date:'yyyy'}}</td>
                    </tr>
                    <tr>
                        <td colspan="15" style="width: 85%"></td>
                        <td colspan="1" style="font-size:.5em; text-align:center; width: 5%">día</td>
                        <td colspan="1" style="font-size:.5em; text-align:center; width: 5%">mes</td>
                        <td colspan="1" style="font-size:.5em; text-align:center; width: 5%">año</td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr style="padding: .5em 0;">
                        <td style="height: .5em" colspan="18"></td>
                    </tr>
                    <tr style="outline: 1px solid black; padding: .5em 0;">
                        <td colspan="6" style="text-align: center; font-size: .9em; padding: .5em 0;">{{solicitud.personas[0].nombre}}</td>
                        <td colspan="6" style="text-align: center; font-size: .9em;">{{solicitud.personas[0].primerApellido}}</td>
                        <td colspan="6" style="text-align: center; font-size: .9em;">{{solicitud.personas[0].segundoApellido}}</td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="6" style="text-align: center; font-weight: bold; font-size: .9em; padding: .5em 0;">Nombre (s)</td>
                        <td colspan="6" style="text-align: center; font-weight: bold; font-size: .9em;">Apellido paterno</td>
                        <td colspan="6" style="text-align: center; font-weight: bold; font-size: .9em;">Apellido materno</td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%; border-collapse: collapse; font-size: .9em;">
                <tbody>
                    <tr style="padding: .5em 0;">
                        <td colspan="2" style="font-weight: bold; width: 8%; padding: .5em 0;">Domicilio: </td>
                        <td colspan="16" style="border: 1px solid black; text-align: left; width: 100%;">{{solicitud.personas[0].domicilio.domicilio}}</td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="2" style="width: 8%"></td>
                        <td colspan="4" style="text-align: center; font-weight: bold; width: 23%;padding: .5em 0">Calle</td>
                        <td colspan="4" style="text-align: center; font-weight: bold; width: 23%; padding: .5em 0">Número exterior</td>
                        <td colspan="4" style="text-align: center; font-weight: bold; width: 23%; padding: .5em 0;">Número interior</td>
                        <td colspan="4" style="text-align: center; font-weight: bold; width: 23%; padding: .5em 0;">Colonia</td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="2" style="width: 8%">&nbsp;</td>
                        <td colspan="8" style="border-top: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; width: 10%; text-align: center; padding: .5em 0">{{solicitud.personas[0].domicilio.municipio}}</td>
                        <td colspan="8" style="border-top: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; width: 10%; text-align: center;">{{solicitud.personas[0].domicilio.entidad}}</td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="2"></td>
                        <td colspan="8" style="text-align: center; font-weight: bold; width: 46%;padding: .5em 0;">Delegación o municipio</td>
                        <td colspan="8" style="text-align: center; font-weight: bold; width: 46%">Entidad Federativa</td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%; font-size: .9em;">
                <tbody>
                    <tr style="padding: .5em 0;">
                        <td colspan="2" style="font-weight: bold; width: 8%;">Teléfono:</td>
                        <td colspan="4" style="width: 30%; border: 1px solid black; text-align: center;">
                            {{solicitud.personas[0].telefonoFijo}}
                            <br> {{solicitud.personas[0].telefonoMovil}}
                        </td>
                        <td colspan="6" style="font-weight: bold; width: 22%; text-align: right;">Correo electrónico:</td>
                        <td colspan="6" style="width: 40%; border: 1px solid black; text-align: center;">
                            {{solicitud.personas[0].correo1}}
                            <br> {{solicitud.personas[0].correo2}}
                        </td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="18" style="height: .9em;"></td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%; outline: 1px solid black; border-collapse: collapse;">
                <tbody>
                    <tr style="padding: .5em 0;">
                        <td colspan="18" style="background-color: #403939; color:#FFFFFF; text-align: center; font-weight: bold;">Solicitud de Atención: Queja Felicitación, Sugerencia o Solicitud de Gestión</td>
                    </tr>
                    <tr style="outline: 1px solid black; padding: .5em 0;">
                        <td colspan="18" style="font-size: .9em;padding:.5em;">En el siguiente espacio describa de forma clara y precisa su solicitud incluyendo datos impportantes como fechas, personas involucradas, lugares y hechos.</td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="18" style="height: 120px; font-size: .9em; padding:.5em;">
                            LUGAR: {{solicitud.entidadDescripcion}}, {{solicitud.municipioDescripcion}}, {{solicitud.localidadDescripcion || ''}}, {{solicitud.unidadMedicaDescripcion}}
                            <br>
                            <br> {{solicitud.categoriaDescripcion}}:
                            <br>{{solicitud.descripcion}}
                        </td>
                    </tr>
                    <tr style="padding: .5em 0;">
                        <td colspan="14" style="width: 70%"></td>
                        <td colspan="4" style="width: 30%; border: 1px solid black; height: 5em; vertical-align: bottom; text-align: center; font-size: .9em; font-weight: bold;">Firma o huella digital</td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%; padding-top: 1em;">
                <tr style="padding: .5em 0;">
                    <td colspan="18" style="font-weight: bold; font-size: .7em;text-align: center;">Aviso de Privacidad</td>
                </tr>
                <tr style="padding: .5em 0;">
                    <td colspan="18" style="text-align: center; font-size: .7em;">
                        Sus datos personales serán protegidos en términos de lo dispuesto por la Ley en los Lineamientos de Protección de Datos Personales emitidos por el Instituto Federal de Acceso a la información Pública, publicados en el Diario Oficial de la Federación el 30 de septiembre de 2005.
                    </td>
                </tr>
                <tr>
                    <td colspan="18" style="text-align: center; font-size: .7em;">
                        <p style="font-style: italic; text-align: center; font-size: .7em">"Este programa es público, ajeno a cualquier partido político. Queda prohibido su uso para fines distintos a los establecidos en el programa" </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>