<div ng-cloak>

  <md-toolbar class="sigesa-toolbar md-hue-3" style="">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="logout()">
        <md-icon>exit_to_app</md-icon>
      </md-button>
      <a href="#" ng-click="$event.preventDefault(); abrirResumen($event, 0)" ng-if="usuario.id_perfil_usuario !=3">
      <h2 flex>SIGESA</h2>
      </a>

      <!-- Cuando es perfil JEFE -->
      <a href="#" ng-click="$event.preventDefault(); abrirResumenJefe($event)" ng-if="usuario.id_perfil_usuario ==3">
        <h2 flex>SIGESA</h2>
      </a>
      &nbsp;
      <a href="#" ng-click="$event.preventDefault(); cambiarContrasenia($event)"><md-icon>settings</md-icon></a>
    </div>
  </md-toolbar>

  <div class="contadores" ng-if="usuario.id_perfil_usuario !=4">
    <a href="#" class="menu-reportes" ng-click="$event.preventDefault(); opcionesReportes($event)" ng-if="usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3">REPORTES</a>
    <a href="#" class="semaforo rojo" ng-click="$event.preventDefault(); abrirResumen($event, 3)">{{contadores.rojo}}</a>
    <a href="#" class="semaforo naranja" ng-click="$event.preventDefault(); abrirResumen($event, 2)">{{contadores.naranja}}</a>
    <a href="#" class="semaforo verde" ng-click="$event.preventDefault(); abrirResumen($event, 1)">{{contadores.verde}}</a>
    <a href="#" class="semaforo gris" title="{{contador.gris}}" ng-click="$event.preventDefault(); abrirResumen($event, 4)">{{contadores.gris}}</a>
  </div>

  <div class="main-container" layout="row">
    <div class="menu-lateral" flex="20" ng-controller="FiltrarSolicitudesCtrl as filtrarSolicitudes">

      <md-content layout-padding class="datos-usuario">
        {{usuario.nombre_usuario || "Indefinido"}} <br/>
        {{usuario.descripcion_unidad_administrativa || "Indefinido"}}
      </md-content>

      <md-content layout-padding style="overflow: hidden; padding: 8px 8px 8px 8px">
        <form name="formBuscarTicket">
          <input type="search" ng-model="noTicket" placeholder="Buscar..." style="width: 100%" ng-change="buscarSolicitudes(noTicket)" ng-model-options="{debounce: 1000}" />
        </form>
      </md-content>

      <md-content class="lista-solicitudes" layout="column" flex>
        <section ng-repeat="estatus in estatuses">
          <md-subheader class="md-primary">{{estatus.descripcion}}</md-subheader>

          <md-list style="padding: 0 0 8px 0">
            <md-list-item class="md-3-line solicitud" ng-repeat="solicitud in estatus.solicitudes track by solicitud.id_solicitud" ng-click="procesos.abriendoSolicitud = true; abrirSolicitud(solicitud.id_solicitud, solicitud)" ng-disabled="procesos.abriendoSolicitud" ng-style="{'background-color': ($even ? '#e8e8e8' : ''), 'border-top': '1px solid darkgrey', 'margin-left': '8px'}">
              <!--<i class="material-icons md-avatar" ng-style="{'color': colorPrioridad(solicitud.id_prioridad_solicitud)}">label</i>-->
              <div class="md-list-item-text" flex layout="column">
                <h3 style="font-weight: 600">
                  <md-icon ng-style="{'color': (solicitud.fecha_solicitud_finalizada ? '#294986' : colorSemaforo(solicitud.fecha_ultimo_seguimiento))}">fiber_manual_record</md-icon>
                  <md-icon ng-style="{'color': (solicitud.fecha_solicitud_finalizada ? 'green' : colorSemaforoSUG(solicitud.dias_desde_registro))}">turned_in</md-icon>
                  {{solicitud.ticket}}
                </h3>
                <p>{{solicitud.solicitante}}</p>
                <p>
                  <md-icon>today</md-icon> {{solicitud.fechaRegistro}}
                  <md-icon>update</md-icon> {{solicitud.fechaUltimoSeguimiento}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
      </md-content>
    </div>

    <div class="container-solicitudes" flex="80" layout="column">
      
      <!-- SOLICITUDES -->
      
        <div ng-show="tabsSolicitudesAbiertas.tabs.length > 0" ng-controller="SolicitudesCtrl as solicitudes">
          <md-tabs md-dynamic-height md-border-bottom md-autoselect md-selected="tabsSolicitudesAbiertas.selectedIndexSolicitud">
            <md-tab ng-repeat="solicitud in tabsSolicitudesAbiertas.tabs">
              <md-tab-label>
                {{solicitud.label}}
            <md-button class="md-icon-button md-warn" ng-click="cerrarSolicitud(tabsSolicitudesAbiertas.selectedIndexSolicitud)">
                  <md-icon>close</md-icon>
                </md-button>
              </md-tab-label>
              <md-tab-body>
                <div ng-if="!solicitud.reporte">
                  <ng-include  src="'./src/partials/solicitud.html'"/>
                </div>
                <div ng-if="solicitud.reporte">
                  <ng-include src="'./src/partials/reporte1.html'"/>
                </div>
                
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </div>
      
      <!-- FIN SOLICITUDES -->
       <div ng-show="(tabsSolicitudesAbiertas.tabs.length === 0 && usuario.id_perfil_usuario != 3)"
      ng-include="'./src/partials/resumen.html'"
      flex="80"></div>

      <div ng-show="tabsSolicitudesAbiertas.tabs.length === 0 && usuario.id_perfil_usuario == 3"
      ng-include="'./src/partials/principalJefe.html'"
      flex="80"></div>
  </div>

  

  <md-button class="md-warn md-fab md-fab-bottom-right" ng-click="crearSolicitud()" ng-if="usuario.id_perfil_usuario <= 3" style="position: fixed">
    <md-icon>add</md-icon>
  </md-button>
</div>
