<div class="page-login">

  <div class="center">

    <md-content flex class="login-wrapper" style="padding: 10px;">

      <md-card class="card" style="margin:0% auto; max-width:400px;">
        <md-card-title class="card-header">
          <md-card-title class="card-title">
          <div flex="20">
            &nbsp;
          </div>
          <div flex="60">
            <div style="font-size: 1.4em; text-align: center; padding: 16px; padding-top: 16px">SIGESA</div>
          </div>
          <div flex="20">
            <md-icon style="color: white; font-size: 4rem; text-align: center; padding: 0px; margin: 0px; height: 64px;width: 64px;">perm_identity</md-icon> 
          </div>
          </md-card-title>
        </md-card-title>

        <md-card-content layout-padding class="card-content">
          <form name="formLogin" ng-submit="login(user, password)" layout="column" class="login-form">
            
             <md-input-container>
              <label>Usuario</label>
              <md-icon>account_circle</md-icon>
              <input type="text" ng-model="user" required/>
            </md-input-container>

            <md-input-container>
              <label>Contraseña</label>
              <md-icon>vpn_key</md-icon>
              <input type="password" ng-model="password" required/>
            </md-input-container>
            <div>
            <button class="md-raised md-primary md-button" type="submit" ng-disabled="formLogin.$invalid" style="background-color: #607d8b !important;     width: 149px;float: right !important;">Iniciar <md-icon>send</md-icon> </button>
            </div>
          </form>
        </md-card-content>
      </md-card>

    </md-content>

  </div>

</div>
