<section ng-controller="OpcionesReportesCtrl" style="min-width: 600px; min-height: 50px;">
	<section layout="row" style="text-align: center; padding: 20px;">
		<div flex>
		<ul>
			<li style="font-size: 1em; font-weight: bold; text-align: left;"><a href="#" ng-click= "abrirReporte1('OPERATIVO')">OPERATIVO</a></li>
		</ul>
		</div>
	</section>
</section>