<style type="text/css" media="screen">
.obsNV {
    text-align: center;
    border: 1px solid #9D9D9D;
    margin: 3px;
    display: inline-block;
    width: 100px;
    padding: 0.4em;
    border-radius: 1em;
    cursor: pointer;
}

.obsNV:hover {
    background: #DDD;
}
</style>
<div ng-controller="PrincipalJefeCtrl" ng-cloak style="min-width: 960px;">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Solicitudes con seguimientos pendientes de validar</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-repeat="seguimientoNoValidado in seguimientosNoValidados" class="obsNV" ng-click="$event.preventDefault(); abrirSolicitud(seguimientoNoValidado.id_solicitud, seguimientoNoValidado)">
                        {{seguimientoNoValidado.observacionesNoValidadas.length}}
                        <br> #{{seguimientoNoValidado.ticket}}
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card>
                <div layout="row" style="padding: 1em;">
                    <div flex="25">
                        <md-input-container class="md-block">
                            <md-select ng-model="mesGraficas" ng-change="recargarImagen('',mesGraficas);filtarTablaGraficas(mesGraficas)" placeholder="MES">
                                <md-option ng-value="meses.num" ng-repeat="meses in catalogos.catMeses" ng-selected="meses.num == mes">{{ meses.mes }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="3" style="margin: 24px;">
                        <a href="#" ng-click="$event.preventDefault();recargarImagen($event,mesGraficas);">
                            <md-tooltip md-direction="right">Refrescar</md-tooltip>
                            <md-icon>refresh</md-icon>
                        </a>
                    </div>
                    <div flex="3" style="margin: 24px;">
                        <a href="#" ng-click="$event.preventDefault();imprimirDiv($event,'imprimir');">
                            <md-tooltip md-direction="right">Imprimir</md-tooltip>
                            <md-icon>print</md-icon>
                        </a>
                    </div>
                </div>
                <section style="padding: 1em;" id="imprimir" layout="column" class="graficas">
                    <table border="0">
                        <tr>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes, acumulado mensual</span>
                                <br>
                                <img id="grafica11" src="" alt="">
                            </td>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes por Jurisdicción Sanitaria, mensual</span>
                                <br>
                                <img id="grafica10" src="" alt="">
                            </td>
                        </tr>
                    </table>
                    <table border="0">
                        <tr>
                            <td colspan="2">
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes del mes, diarias</span>
                                <br>
                                <img id="grafica3" src="" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes por teléfono del mes, diarias</span>
                                <br>
                                <img id="grafica4" src="" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes con y sin Seguro Popular, mensual</span>
                                <br>
                                <br>
                                <img id="grafica1" src="" alt="">
                            </td>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes por medio de contacto, mensual</span>
                                <br>
                                <br>
                                <img id="grafica2" src="" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes por horario, mensual</span>
                                <br>
                                <br>
                                <img id="grafica5" src="" alt="">
                            </td>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes según clasificación SUG, mensual</span>
                                <br>
                                <br>
                                <img id="grafica6" src="" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes de Gestión SUG según actividad primaria, mensual</span>
                                <br>
                                <br>
                                <img id="grafica9" src="" alt="">
                            </td>
                            <td>
                                <span style="font-size: 16px; font-weight: bold; text-align: center;">Solicitudes según Quejas SUG, mensual</span>
                                <br>
                                <br>
                                <img id="grafica7" src="" alt="">
                            </td>
                        </tr>
                    </table>
                    <p style="font-size: 17px; font-weight: bold;">
                        Solicitudes según Quejas SUG, desglose
                    </p>
                    <table ng-table width="100%" style="font-size: 11px; font-family: Arial;">
                        <thead>
                            <tr style="background-color: #8F8F8F;">
                                <th width="10%">Ticket</th>
                                <th width="10%">Seguimiento</th>
                                <th width="30%">Sub clasificacion</th>
                                <th width="50%">Hospital</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="datos in datosTablaGrafica.desgloce" style="text-align: center;">
                                <td style="text-align: left;">{{datos.ticket}}</td>
                                <td style="text-align: left;">{{datos.estatus_solicitud}}</td>
                                <td style="text-align: left;">{{datos.subclasificacion}}</td>
                                <td style="text-align: left;">{{datos.unidad_salud}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </md-card>
        </div>
    </md-content>
</div>