<div ng-controller="SeguimientoCtrl">
    <div layout="row">
        <div flex="90" layout="column">
            &nbsp;
        </div>
        <div flex="10" layout="column" style="padding: .5em">
            <a href="#" ng-click="$event.preventDefault();imprimirDiv($event,'imprimirSeguimiento'+solicitud.idSolicitud);">
                <md-tooltip md-direction="left">Imprimir</md-tooltip>
                <md-icon>print</md-icon>
            </a>
        </div>
    </div>
    <div id="imprimirSeguimiento{{solicitud.idSolicitud}}" align="center" style="width: 95%; margin: 0 auto;">
        <table>
            <thead>
                <td>
                    <img width="100%" src="{{baseUrl}}sigesa/dist/images/encabezado.jpeg">
                </td>
            </thead>
            <tr>
                <td>
                    <table style="width: 100%; padding: 5px 0 5px 0;" class="fuenteReporteSeguimiento">
                        <tbody>
                            <tr>
                                <td colspan="9" style="width: 100%; ">
                                    <p style="font-size: 1.3em; font-weight: bold;" class="tituloReporteSeguimiento">
                                        Formato de informe de seguimiento a solicitudes de atención recibidas en el
                                        <br> Centro de Atención Telefónica del REVEPSS.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">
                                    Operador:
                                </td>
                                <td>{{solicitud.usuarioRegistro}}</td>
                                <td style="font-weight: bold;">Ticket:</td>
                                <td style="font-weight: bold;">{{solicitud.ticket}}</td>
                                <td style="font-weight: bold;">Clasificación:</td>
                                <td style="font-weight: bold;">{{solicitud.categoriaDescripcion}}</td>
                                <td style="font-weight: bold;">Fecha y Hora:</td>
                                <td>{{solicitud.fechaRegistro}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="font-weight: bold; font-size: 1.2em; text-align: left" class="tituloReporteSeguimiento">1. Datos de Contacto</p>
                    <table style="width: 100%; padding: 5px 0 5px 0; border-collapse: collapse; border: 1px solid black" class="fuenteReporteSeguimiento">
                        <tbody>
                            <tr style="font-weight: bold; text-align: center; background-color: #CCCCCC;">
                                <td style="border: 1px solid black;">NOMBRE</td>
                                <td style="border: 1px solid black;">SEXO</td>
                                <td style="border: 1px solid black;">EDAD</td>
                                <td style="border: 1px solid black;">NÚM. PÓLIZA</td>
                                <td style="border: 1px solid black;">CURP</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; text-align: center">{{solicitud.personas[0].nombre}} {{solicitud.personas[0].primerApellido}} {{solicitud.personas[0].segundoApellido}}</td>
                                <td style="border: 1px solid black; text-align: center">{{solicitud.personas[0].sexo}}</td>
                                <td style="border: 1px solid black; text-align: center">{{solicitud.personas[0].fechaNacimiento}}</td>
                                <td style="border: 1px solid black; text-align: center">{{solicitud.personas[0].folioSP}}</td>
                                <td style="border: 1px solid black; text-align: center">{{solciitud.personas[0].curp}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table style="width: 100%; padding: 5px 0 5px 0; border-collapse: collapse; border: 1px solid black; text-align: center" class="fuenteReporteSeguimiento">
                        <tbody>
                            <tr style="font-weight: bold; text-align: center; background-color: #CCCCCC;">
                                <td style="border: 1px solid black; width: 30%">DIRECCIÓN</td>
                                <td style="border: 1px solid black; width: 20%">MUNICIPIO</td>
                                <td style="border: 1px solid black; width: 20%">TELÉFONOS</td>
                                <td style="border: 1px solid black; width: 30%">EMAIL</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black;">{{solicitud.personas[0].domicilio.domicilio}}</td>
                                <td style="border: 1px solid black;">{{solicitud.personas[0].domicilio.municipio}}</td>
                                <td style="border: 1px solid black;">{{solicitud.personas[0].telefonoFijo}}
                                    <br>{{solicitud.personas[0].telefonoMovil}}</td>
                                <td style="border: 1px solid black;">{{solicitud.personas[0].correo1}}
                                    <br>{{solicitud.personas[0].correo2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="font-weight: bold; font-size: 1.2em; text-align: left" class="tituloReporteSeguimiento">2. Investigación</p>
                    <table style="width: 100%; border-collapse: collapse;border: 1px solid black" class="fuenteReporteSeguimiento">
                        <thead style="font-weight: bold; text-align: center; background-color: #CCCCCC;">
                            <tr>
                                <td style="border: 1px solid black; width:13%">OPERADOR</td>
                                <td style="border: 1px solid black; width:61%">DESCRIPCIONES</td>
                                <td style="border: 1px solid black; width:13%">FECHA Y HORA</td>
                                <td style="border: 1px solid black; width:13%">ESTATUS</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="seguimiento in documentosSeguimiento">
                                <td style="border: 1px solid black;">{{seguimiento.fk_id_usuario_registro}}</td>
                                <td style="border: 1px solid black;">{{seguimiento.observacion}}</td>
                                <td style="border: 1px solid black; text-align: center;">{{seguimiento.fecha_registro}}</td>
                                <td style="border: 1px solid black;">
                                    <span ng-if="seguimiento.id_observacion == 1">SOLICITUD DE ATENCIÓN</span>
                                    <span ng-if="seguimiento.id_observacion != 1">SEGUIMIENTO</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%; border-collapse: collapse;border: 1px solid black; font-size: .8em;" class="fuenteReporteSeguimiento">
                        <tbody>
                            <tr style="font-weight: bold; text-align: center;">
                                <td style="border: 1px solid black; width: 20%">ÁREAS(S) RESPONSABLE DE SEGUIMIENTO</td>
                                <td style="border: 1px solid black; width: 50%">Validación de Servicios de Terceros (Para seguimiento del surtimiento de medicamentos)</td>
                                <td style="border: 1px solid black; width: 15%">Tiempo de resolución </td>
                                <td style="border: 1px solid black; width: 15%"></td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; text-align: left">
                                    <p style="font-weight: bold">OBSERVACIONES</p>
                                    <p style="font-weight: bold">JEFE DE DEPARTAMENTO DE ATENCIÓN A SOLICITUDES DE BENEFICIARIOS</p>
                                </td>
                                <td style="border: 1px solid black;" colspan="3">{{solicitud.observacionesDerivacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="font-weight: bold; font-size: 1.2em; text-align: left" class="tituloReporteSeguimiento">3. Validación del área que genera el ticket</p>
                    <table style="width: 100%; font-size: .8em; border-collapse: collapse; text-align: center;" class="fuenteReporteSeguimiento">
                        <tbody>
                            <tr>
                                <td style="border: 1px solid black;">
                                    <p style="padding-top: 60px;">
                                        HÉCTOR CRUZ ABURTO
                                        <br>
                                        <span style="font-weight: bold">SUPERVISOR DEL CENTRO DE ATENCIÓN TELEFÓNICA DEL REVEPSS</span>
                                        <br>(Elabora)
                                    </p>
                                </td>
                                <td style="border: 1px solid black;">
                                    <p style="padding-top: 60px;">
                                        JOSÉ CARLOS MADRAZO CAZARÍN
                                        <br>
                                        <span style="font-weight: bold">DEPARTAMENTO DE ATENCIÓN A SOLICITUDES DE BENEFICIARIOS</span>
                                        <br>(Supervisa)
                                    </p>
                                </td>
                                <td style="border: 1px solid black;">
                                    <p style="padding-top: 60px;">
                                        SABRINA GONZÁLEZ MARTÍNEZ
                                        <br>
                                        <span style="font-weight: bold">SUBDIRECCIÓN DE GARANTÍA Y ATENCIÓN A BENEFICIARIOS</span>
                                        <br> (Valida)
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="solicitud.derivaciones.length > 0">
                        <p style="font-weight: bold; font-size: 1.2em; text-align: left" class="tituloReporteSeguimiento">4. Área que recibe el ticket</p>
                        <div class="fuenteReporteSeguimiento">
                            <div style="border: 1px black solid; display: inline-table; width: 32%; margin: 2px; font-size: .8em; text-align: center; height: 110px;" ng-repeat="unidad in solicitud.derivaciones">
                                <p>
                                    <br>
                                    <br>
                                    <span style="font-weight: bold;">{{unidad.unidad_administrativa}}</span>
                                    <br> (Recibe)
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>