<style type="text/css" media="screen">
	.md-datepicker-input{
		min-width: 300px;
	}	
</style>
<div ng-controller="Reporte1Ctrl" style="padding: 1em;">
	<div layout="column">
		<div  layout='row'> 
			<div flex='80'>
				<form name="formReportes" style="">
					<md-input-container>
						<md-datepicker ng-change="filtrarSolicitudesReportes(filtrarParamsReportes)"
						ng-model="filtrarParamsReportes.fechaInicial"
						placeholder="FECHA INICIAL" md-max-date="maxDate"></md-datepicker>
					</md-input-container>

					<md-input-container>
						<md-datepicker ng-change="filtrarSolicitudesReportes(filtrarParamsReportes)"
						ng-model="filtrarParamsReportes.fechaFinal"
						placeholder="FECHA FINAL" md-max-date="maxDate"></md-datepicker>
					</md-input-container>
				</form>
			</div>
			<div flex="20">
				<a href="#" ng-click="$event.preventDefault();reporteOperativoExcel($event,filtrarParamsReportes)" target="_blank" ng-if="tableParamsReportes.data.desgloce.length > 0"><br><md-icon style="font-size: 2em; color: green;">save</md-icon></a>
			</div>
		</div>
		<h3>REPORTE OPERATIVO</h3>
		<div class="resumen-solicitudes-container" flex style="overflow-x:scroll; overflow-y: scroll; max-height: 600px; font-size: 12px;">
			<!-- <a href="#" ng-click="reporteSeguimientoExcel(filtrarParams)">Formato excel</a> -->
			<table ng-table="tableParamsReportes">
				<tr ng-repeat="desgloce in $data.desgloce track by $index">
					<td data-title="'# TICKET'" sortable="'id_solicitud'">{{desgloce.ticket}}</td>
					<td data-title="'FECHA DE REGISTRO'" sortable="'fecha_registro'">{{desgloce.fecha_registro}}</td>
					<td data-title="'ENTIDAD FEDERATIVA'" sortable="'entidad_federativa'">{{desgloce.entidad_federativa}}</td>
					<td data-title="'MUNICIPIO'" sortable="'municipio'">{{desgloce.municipio}}</td>
					<td data-title="'JURISDICCIÓN'" sortable="'jurisdiccion'">{{desgloce.jurisdiccion}}</td>
					<td data-title="'USUARIO'" sortable="'usuario'">{{desgloce.usuario}}</td>
					<td data-title="'CARTERA SERVICIOS'" sortable="'cartera'">{{desgloce.cartera_servicios}}</td>
					<td data-title="'POLIZA'" sortable="'poliza'">{{desgloce.poliza}}</td>
					<td data-title="'SEXO'" sortable="'sexo'">{{desgloce.sexo}}</td>
					<td data-title="'ACTIVIDAD PRINCIPAL'" sortable="'actividad_principal'">{{desgloce.actividad_principal}}</td>
					<td data-title="'ACTIVIDADES SECUNDARIAS'" sortable="'actividades_secundarias'">{{desgloce.actividades_secundarias.replace('\n','')}}</td>
					<td data-title="'SOLICITUD'" sortable="'solicitud'">{{desgloce.solicitud}}</td>
					<td data-title="'SEGUIMIENTO'" sortable="'seguimiento'">{{desgloce.seguimiento}}</td>
					<td data-title="'CATEGORA SUG'" sortable="'categoria_sug'">{{desgloce.categoria_sug}}</td>
					<td data-title="'CLASIFICACION SUG'" sortable="'clasificacion_sug'">{{desgloce.clasificacion_sug}}</td>
					<td data-title="'SUBCLASIFICACION SUG'" sortable="'subclasificacion_sug'">{{desgloce.subclasificacion_sug}}</td>
					<td data-title="'ESTATUS'" sortable="'estatus_solicitud'">{{desgloce.estatus_solicitud}}</td>
					<td data-title="'DERIVADA A'" sortable="'derivada_a'">{{desgloce.derivada_a}}</td>
					<td data-title="'MEDIO CONTACTO'" sortable="'medio_contacto'">{{desgloce.medio_contacto}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>