<div ng-controller="ResumenCtrl">

  <div layout="column" style="margin-top: 20px">
  <!--
    <div style="text-align: left;">
    <a href="#" ng-click="$event.preventDefault();mostrarFiltros()"><md-icon>list</md-icon></a>
    </div>
    -->
    <div flex layout="row">

      <form name="formFiltrarSolicitudes" flex layout="row" layout-wrap style="padding: 0 1em 0 1em;">

        <md-input-container flex="33">
          <md-select ng-model="filtrarParams.semaforo" ng-change="filtrarSolicitudes(filtrarParams)" placeholder="ÚLTIMO SEGUIMIENTO">
            <md-option value="">TODOS</md-option>
            <md-option ng-value="semaforo.id" ng-repeat="semaforo in catalogos.catSemaforos"><md-icon ng-style="{'color': semaforo.color}">fiber_manual_record</md-icon>{{ semaforo.descripcion }}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="33">
          <md-select ng-model="filtrarParams.categoria" ng-change="filtrarSolicitudes(filtrarParams)" placeholder="CATEGORÍA">
            <md-option value="">TODAS</md-option>
            <md-option ng-value="categoria.id_categoria_sug" ng-repeat="categoria in catalogos.catCategorias">{{ categoria.categoria_sug }}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="33">
          <md-select ng-model="filtrarParams.actividadPrincipal" ng-change="filtrarSolicitudes(filtrarParams)" placeholder="ACTIVIDAD PRINCIPAL">
              <md-option value="">TODAS</md-option>
              <md-option ng-value="actividad.id_actividad_principal_solicitud" ng-repeat="actividad in catalogos.catActividadesPrincipales">{{ actividad.actividad_principal }}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="33">
          <md-select ng-model="filtrarParams.estatus" ng-change="filtrarSolicitudes(filtrarParams)" placeholder="ESTATUS">
              <md-option value="">TODAS</md-option>
              <md-option ng-value="estatus.id" ng-repeat="estatus in estatuses">{{estatus.descripcion}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="33">
          <md-datepicker ng-change="filtrarSolicitudes(filtrarParams)"
          ng-model="filtrarParams.fechaInicial"
          placeholder="FECHA INICIAL"></md-datepicker>
        </md-input-container>

        <md-input-container flex="33">
          <md-datepicker ng-change="filtrarSolicitudes(filtrarParams)"
          ng-model="filtrarParams.fechaFinal"
          placeholder="FECHA FINAL"></md-datepicker>
        </md-input-container>
      </form>

    </div>

    <div class="resumen-solicitudes-container" flex style="min-height: 350px; min-width: 1000px;">
     <div style="text-align: right; padding: 0 1em 1em 0;" ng-if="tableParams.data.length > 0">
     <a href="#" ng-click="$event.preventDefault();reporteSeguimientoExcel($event,filtrarParams)" ng-if="usuario.id_perfil_usuario != 5"><md-icon style="font-size: 2em;">save</md-icon></a>
     </div>
    
     <table ng-table="tableParams">
          <tr ng-repeat="solicitud in $data track by $index" class="centrar">
        <td data-title="'# TICKET'" sortable="'id_solicitud'"><a href="#" ng-click="$event.preventDefault(); abrirSolicitud(solicitud.id_solicitud, solicitud)">{{solicitud.ticket}}</a></td>
            <td data-title="'CATEGORÍA'" sortable="'categoria_sug'" style="width: 1%;">{{solicitud.categoria_sug}}</td>
            <td data-title="'ACTIVIDAD PRINCIPAL'" sortable="'actividad_principal'" style="width: 1%;">{{solicitud.actividad_principal}}</td>
            <td data-title="'FECHA DE REGISTRO'" sortable="'fecha_registro'" style="width: 1%;">{{solicitud.fecha_registro}}</td>
            <td data-title="'SOLICITANTE'" sortable="'solicitante'" style="text-align: left;">{{solicitud.solicitante}}</td>
            <td data-title="'ESTATUS'" sortable="'estatus_solicitud'" style="width: 1%;">{{solicitud.estatus_solicitud}}</td>
            <td data-title="'UNIDADES DERIVADAS'" sortable="'unidades_derivadas'" style="font-size: 11px; width: 20%; padding: 0; text-align: left;">
              <div ng-repeat="unidad in solicitud.unidades_derivadas" style="padding: 0.3em;">
                {{unidad.unidad_administrativa}}.
              </div>
            </td>
        <td data-title="'ÚLTIMO SEGUIMIENTO'" sortable="'dias_desde_ultimo_seguimiento'">
          <md-icon ng-style="{'color': (solicitud.fecha_solicitud_finalizada ? '#294986' : colorSemaforo(solicitud.fecha_ultimo_seguimiento))}">fiber_manual_record</md-icon>
          hace {{solicitud.dias_desde_ultimo_seguimiento}} días
        </td>
      </tr>
    </table>

  </div>

</div>

</div>
