<md-content ng-controller="SeguimientoCtrl">
    <div class="steps-wrapper" style="padding: 0" ng-if="usuario.id_perfil_usuario !=4">
        <div class="steps" layout="row">
            <div flex class="step">
                <div class="capturada" layout="row">
                    <div flex="50">
                        <h3>Capturada</h3>
                    </div>
                    <div flex="50">
                        <p>{{fechaSolicitudCapturada}}</p>
                        <p>{{tiempoTranscurridoCaptura}}</p>
                    </div>
                </div>
            </div>
            <div flex class="step" ng-init="mostrarBtnCancelarEscalar = false; mostrarBtnEscalar = false" ng-mouseenter='mostrarBtnCancelarEscalar = true; mostrarBtnEscalar = true' ng-mouseleave='mostrarBtnCancelarEscalar = false; mostrarBtnEscalar = false' ng-if="!fechaSolicitudFinalizada || (fechaSolicitudEscalada && fechaSolicitudFinalizada)">
                <div class="escalada" ng-class="{'disabled': !fechaSolicitudEscalada}">
                    <div ng-if="fechaSolicitudEscalada" layout="row" layout-wrap>
                        <div flex="50">
                            <h3>Escalada</h3>
                        </div>
                        <div flex="50">
                            <p>{{fechaSolicitudEscalada}}</p>
                            <p>{{tiempoTranscurridoEscalada}}</p>
                        </div>
                        <div style="text-align: center" ng-show="mostrarBtnCancelarEscalar && !fechaSolicitudFinalizada" flex="100" ng-if="usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3">
                            <md-button md-no-ink class="md-primary" ng-click="cancelarSolicitudEscalada($event, solicitud.idSolicitud)">Cancelar</md-button>
                        </div>
                    </div>
                    <div ng-if="!fechaSolicitudEscalada" style="text-align: center">
                        <h3>No Escalada</h3>
                        <md-button md-no-ink class="md-accent md-raised" ng-show="mostrarBtnEscalar" ng-click="escalarSolicitud($event, solicitud.idSolicitud)" ng-if="usuario.id_perfil_usuario !=5">Escalar</md-button>
                    </div>
                </div>
            </div>
            <div flex class="step" ng-init="mostrarBtnDerivarSolicitud = false" ng-mouseenter='mostrarBtnDerivarSolicitud = true' ng-mouseleave='mostrarBtnDerivarSolicitud = false' ng-if="!fechaSolicitudFinalizada || (fechaSolicitudDerivada && fechaSolicitudFinalizada)">
                <div class="derivada" ng-class="{'disabled': !fechaSolicitudDerivada}">
                    <div ng-if="fechaSolicitudDerivada" layout="row">
                        <div flex="50">
                            <h3>Derivada ({{solicitud.derivaciones.length}})</h3>
                        </div>
                        <div flex="50">
                            <p>{{fechaSolicitudDerivada}}</p>
                            <p>{{tiempoTranscurridoDerivada}}</p>
                        </div>
                    </div>
                    <div ng-if="!fechaSolicitudDerivada">
                        <h3>No Derivada</h3>
                    </div>
                    <div style="text-align: center" ng-if="!fechaSolicitudFinalizada && (usuario.id_perfil_usuario == 3)" ng-show="!fechaSolicitudDerivada || (mostrarBtnDerivarSolicitud && !fechaSolicitudFinalizada)">
                        <md-button md-no-ink class="md-accent md-raised" ng-show="fechaSolicitudEscalada && !fechaSolicitudDerivada && mostrarBtnDerivarSolicitud" ng-click="derivarSolicitud($event, solicitud.idSolicitud, solicitud.derivaciones, solicitud.observacionesDerivacion)">Derivar</md-button>
                    </div>
                </div>
            </div>
            <div flex class="step" ng-init="mostrarBtnFinalizar = false" ng-mouseenter='mostrarBtnFinalizar = true' ng-mouseleave='mostrarBtnFinalizar = false'>
                <div class="finalizada" ng-class="{'disabled': !fechaSolicitudFinalizada}">
                    <div ng-if="fechaSolicitudFinalizada" layout="row">
                        <div flex="50">
                            <h3>Finalizada</h3>
                        </div>
                        <div flex="50">
                            <p>{{fechaSolicitudFinalizada}}</p>
                            <p>{{tiempoTranscurridoFinalizada}}</p>
                        </div>
                        <!--<md-button md-no-ink class="md-accent md-raised" ng-show="mostrarBtnFinalizar" ng-click="reabrirSolicitud($event, solicitud.idSolicitud)" ng-if="usuario.id_perfil_usuario == 3">Reabrir</md-button>-->
                    </div>
                    <div ng-if="!fechaSolicitudFinalizada" style="text-align: center">
                        <h3>No Finalizada</h3>
                        <md-button md-no-ink class="md-accent md-raised" ng-show="mostrarBtnFinalizar" ng-click="finalizarSolicitud($event, solicitud.idSolicitud)" ng-if="((solicitud.resumen.id_estatus_solicitud == 2 || solicitud.resumen.id_estatus_solicitud == 1) && (usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3)) || (solicitud.resumen.id_estatus_solicitud == 3 && usuario.id_perfil_usuario == 3)">Finalizar</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout="row">
        <div flex="90" layout="column">
            &nbsp;
        </div>
        <div flex="10" layout="column" style="padding: .5em" ng-if="usuario.id_perfil_usuario == 1 || usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3 || usuario.id_perfil_usuario == 5">
            <a href="#" ng-click="$event.preventDefault();imprimirDiv($event,'imprimirResumen'+solicitud.idSolicitud);">
                <md-tooltip md-direction="left">Imprimir</md-tooltip>
                <md-icon>print</md-icon>
            </a>
        </div>
    </div>
    <div>
        <!-- El div siguiente se encuentr la plantilla que se imprimira y esta oculto en la vista -->
        <div ng-show="!solicitud.idSolicitud" id="imprimirResumen{{solicitud.idSolicitud}}">
            <ng-include src="'./src/partials/seguimientoFormImprimir.html'" />
        </div>
        <div layout="row">
            <div flex="50" layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text style="position: relative">
                            <span class="md-headline">
                                <i class="material-icons md-avatar"
                                ng-style="{'color': colorPrioridad(solicitud.prioridad)}"
                                style="float: left; padding-right: 10px; line-height: 30px">label</i> Solicitud #{{solicitud.ticket}}
                                <i class="material-icons" style="float: right">{{iconoMedioContacto(solicitud.medioContacto)}}</i>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <table class="table-detalles">
                            <tr>
                                <th>FECHA:</th>
                                <td>{{solicitud.fechaEvento | date : 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <th>SOLICITANTE:</th>
                                <td>{{solicitud.personas[0].nombre + ' ' + solicitud.personas[0].primerApellido + ' ' + solicitud.personas[0].segundoApellido}}</td>
                            </tr>
                            <tr ng-if="solicitud.personas.length > 1">
                                <th>CONTACTOS:</th>
                                <td>
                                    <ul style="margin: 0; padding: 0; list-style: none">
                                        <li ng-repeat="contacto in solicitud.personas" ng-if="!$first">{{contacto.nombre + ' ' + contacto.primerApellido + ' ' + contacto.segundoApellido}}</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>LUGAR:</th>
                                <td>{{solicitud.entidadDescripcion}}, {{solicitud.municipioDescripcion}}, {{solicitud.localidadDescripcion || ''}}, {{solicitud.unidadMedicaDescripcion}}</td>
                            </tr>
                            <tr>
                                <th>DESCRIPCIÓN:</th>
                                <td>{{solicitud.descripcion}}</td>
                            </tr>
                            <tr>
                                <th>PRIORIDAD:</th>
                                <td>{{solicitud.prioridadDescripcion}}</td>
                            </tr>
                            <tr>
                                <th>MEDIO DE CONTACTO:</th>
                                <td>{{solicitud.medioContactoDescripcion}}</td>
                            </tr>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="column" flex="50">
                <md-card>
                    <md-card-title>
                        <md-card-title-text class="md-headline">Clasificación acorde a SUG</md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <table class="table-detalles">
                            <tr>
                                <th>CATEGORÍA:</th>
                                <td>{{solicitud.categoriaDescripcion}}</td>
                            </tr>
                            <tr>
                                <th>CLASIFICACIÓN:</th>
                                <td>{{solicitud.clasificacionDescripcion}}</td>
                            </tr>
                            <tr>
                                <th>SUBCLASIFICACIÓN:</th>
                                <td>{{solicitud.subclasificacionDescripcion}}</td>
                            </tr>
                            <tr>
                                <th>CARTERA SERVICIOS:</th>
                                <td>{{solicitud.carteraDescripcion}}</td>
                            </tr>
                            <tr>
                                <th>INTERVENCIÓN:</th>
                                <td>{{solicitud.intervencionDescripcion}}</td>
                            </tr>
                        </table>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-title>
                        <md-card-title-text class="md-headline">Actividades</md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <table class="table-detalles">
                            <tr>
                                <th>ACTIVIDAD PRINCIPAL:</th>
                                <td>{{solicitud.actividadPrincipalDescripcion}}</td>
                            </tr>
                            <tr>
                                <th>ACTIVIDADES SECUNDARIAS:</th>
                                <td>
                                    <ol style="margin: 0; padding: 0; list-style-position: inside">
                                        <li ng-repeat="actividad in solicitud.actividadesSecundarias">{{actividad.nombre}}</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row">
            <md-card class="card-seguimiento" flex="100">
                <md-card-title>
                    <md-card-title-text class="md-headline">Seguimiento ({{documentosSeguimiento.length}})</md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <h4>Unidades Administrativas con derivación:</h4>
                    <ul class="solicitud-derivaciones" style="padding: 0; margin: 0; list-style-position: inside; list-style-type: square">
                        <li ng-repeat="unidad in solicitud.derivaciones" style="line-height: 2em">{{unidad.unidad_administrativa}} ({{unidad.fecha_registro}})
                            <!--(<a href="#" ng-click="$event.preventDefault(); eliminarDerivacionSolicitud($event, solicitud.idSolicitud, unidad.fk_id_unidad_administrativa)">Cancelar</a>)--></li>
                    </ul>
                    <p><strong>Observaciones:</strong> {{solicitud.observacionesDerivacion || 'No existen observaciones.'}}</p>
                    <table class="table-detalles" width="100%">
                        <tbody>
                            <tr>
                                <th width="10%">FECHA</th>
                                <th width="18%">PERSONAL</th>
                                <th width="60%">OBSERVACIÓN</th>
                                <th width="20%"><span ng-if="usuario.id_perfil_usuario == 3 || usuario.id_perfil_usuario == 2">ACCIONES</span></th>
                                <!--
                  <th width="1%">FECHA</th>
                  <th width="1%">PERSONAL</th>
                  <th width="97%">OBSERVACIÓN</th>
                  <th width="1%"></th>
              -->
                            </tr>
                            <tr ng-repeat="observacion in documentosSeguimiento">
                                <td>{{observacion.fecha_registro}}</td>
                                <td>{{observacion.nombre_usuario_registro}}</td>
                                <td style="font-size: 0.9em;">
                                    <span ng-style="{color: (observacion.validado == 0)}">{{observacion.observacion}}</span>
                                    <!-- Documentos -->
                                    <ol style="margin: 0; padding: 0.3em; list-style: none">
                                        <li ng-repeat="documento in observacion.documentos_soporte" style="float: left;">
                                            <a href="{{baseUrl}}api/documentos/sigesa/{{documento.nombre_archivo}}" target="_blank" class="test-tooltip" arial-label='{{documento.nombre_archivo_usuario}}'>
                                                <md-tooltip md-direction="top" style="font-size: .9em;">{{documento.nombre_archivo_usuario}}</md-tooltip>
                                                <md-icon>picture_as_pdf</md-icon>
                                            </a>
                                        </li>
                                    </ol>
                                </td>
                                <td style="vertical-align: middle;">
                                    <div ng-if="observacion.validado == 1">
                                        <md-icon style="color: green">done_all</md-icon>
                                    </div>
                                    <div ng-if="observacion.validado == 0 && observacion.fecha_validado">
                                        <md-icon style="color: red;">highlight_off</md-icon>
                                    </div>
                                    <div ng-if="observacion.validado == 0 && !observacion.fecha_validado && (usuario.id_perfil_usuario != 3 && usuario.id_perfil_usuario != 2 && usuario.id_perfil_usuario != 4)">
                                        <md-icon style="color: #336699">help_outline</md-icon>
                                    </div>
                                    <div ng-if="(usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 4) && observacion.validado == 0 && !observacion.fecha_validado && usuario.id_unidad_administrativa != observacion.id_unidad_administrativa">
                                        <md-icon style="color: #336699">help_outline</md-icon>
                                    </div>
                                    <div ng-if="observacion.validado == 0 && !observacion.fecha_validado && (usuario.id_perfil_usuario == 3 || usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 4)">
                                        <a href="#" ng-click="$event.preventDefault(); agregarDocumentacionSoporte($event, solicitud.idSolicitud, observacion.id_observacion)" ng-if="(usuario.id_unidad_administrativa == observacion.id_unidad_administrativa && (usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3)) || (usuario.id_perfil_usuario == 4 && usuario.id_usuario == observacion.fk_id_usuario_registro)" title="Editar" style="text-decoration: none;">
                                            <md-icon>create</md-icon>
                                        </a>
                                        <a href="#" ng-click="$event.preventDefault(); validarSeguimiento($event, 1, observacion)" ng-if="usuario.id_perfil_usuario == 3" title="Validar" style="text-decoration: none;">
                                            <md-icon style="color: green; font-weight: bold;">check</md-icon>
                                        </a>
                                        <a href="#" ng-click="$event.preventDefault(); validarSeguimiento($event, 2, observacion)" ng-if="usuario.id_perfil_usuario == 3" title="Rechazar" style="text-decoration: none;">
                                            <md-icon style="color: red;">clear</md-icon>
                                        </a>
                                        <a href="#" ng-click="$event.preventDefault(); validarSeguimiento($event, 3, observacion)" ng-if="usuario.id_perfil_usuario == 3 && usuario.id_unidad_administrativa == observacion.id_unidad_administrativa" title="Eliminar" style="text-decoration: none;">
                                            <md-icon style="color: gray;">delete</md-icon>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="documentosSeguimiento.length === 0">
                            <tr>
                                <td colspan="2">No se ha agregado documentación soporte para ésta solicitud.</td>
                            </tr>
                        </tfoot>
                    </table>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button md-primary md-raised" ng-click="agregarDocumentacionSoporte($event, solicitud.idSolicitud,'')" ng-if="usuario.id_perfil_usuario != 5 && solicitud.resumen.id_estatus_solicitud !=4">
                        <md-icon>add</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div layout="row" layout-wrap>
            <div flex="50" ng-repeat="persona in solicitud.personas">
                <md-card id="persona{{persona.idPersona}}">
                    <md-card-title>
                        <md-card-title-text class="md-headline">
                            {{persona.solicitante ? 'Solicitante' : 'Contacto'}} {{persona.contactoPrincipal ? ' principal' : ''}} {{!persona.solicitante ? '(' + persona.parentescoDescripcion + ')' : ''}}
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" class="content-seguimiento">
                        <table class="table-detalles">
                            <tr>
                                <th>NOMBRE:</th>
                                <td>{{persona.nombre}} {{persona.primerApellido}} {{persona.segundoApellido || ''}}</td>
                            </tr>
                            <tr>
                                <th>DOMICILIO:</th>
                                <td>{{persona.domicilio.municipio}}, {{persona.domicilio.entidad}}, {{persona.domicilio.localidad || ''}}, {{persona.domicilio.domicilio}}</td>
                            </tr>
                            <tr>
                                <th>CURP:</th>
                                <td>{{persona.curp || noEspecificado}}</td>
                            </tr>
                            <tr>
                                <th>Folio SP:</th>
                                <td>{{persona.folioSP}}</td>
                            </tr>
                            <tr>
                                <th>ENTIDAD:</th>
                                <td>{{persona.entidadNacimiento}}</td>
                            </tr>
                            <tr>
                                <th>FECHA DE NACIMIENTO:</th>
                                <td>{{persona.fechaNacimiento}}</td>
                            </tr>
                            <tr>
                                <th>TELÉFONO FIJO:</th>
                                <td>{{persona.telefonoFijo}}</td>
                            </tr>
                            <tr>
                                <th>TELÉFONO MÓVIL:</th>
                                <td>{{persona.telefonoMovil}}</td>
                            </tr>
                            <tr>
                                <th>CORREO 1:</th>
                                <td>{{persona.correo1}}</td>
                            </tr>
                            <tr>
                                <th>CORREO 2:</th>
                                <td>{{persona.correo2}}</td>
                            </tr>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</md-content>