<div ng-controller="SeguimientoCtrl">
    <table width="100%" style="font-size: 13px;">
        <tbody>
            <tr>
                <td colspan="2">
                    <table class="table-detalles">
                        <caption style="text-align: left;">
                            <span class="md-headline">
                                <i class="material-icons md-avatar"
                                ng-style="{'color': colorPrioridad(solicitud.prioridad)}"
                                style="float: left; padding-right: 10px; line-height: 30px">label</i> Solicitud #{{solicitud.ticket}}
                                <i class="material-icons" style="float: right">{{iconoMedioContacto(solicitud.medioContacto)}}</i>
                            </span>
                        </caption>
                        <tr>
                            <th>FECHA:</th>
                            <td>{{solicitud.fechaEvento | date : 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <th>SOLICITANTE:</th>
                            <td>{{solicitud.personas[0].nombre + ' ' + solicitud.personas[0].primerApellido + ' ' + solicitud.personas[0].segundoApellido}}</td>
                        </tr>
                        <tr ng-if="solicitud.personas.length > 1">
                            <th>CONTACTOS:</th>
                            <td>
                                <ul style="margin: 0; padding: 0; list-style: none">
                                    <li ng-repeat="contacto in solicitud.personas" ng-if="!$first">{{contacto.nombre + ' ' + contacto.primerApellido + ' ' + contacto.segundoApellido}}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>LUGAR:</th>
                            <td>{{solicitud.entidadDescripcion}}, {{solicitud.municipioDescripcion}}, {{solicitud.localidadDescripcion || ''}}, {{solicitud.unidadMedicaDescripcion}}</td>
                        </tr>
                        <tr>
                            <th>DESCRIPCIÓN:</th>
                            <td style="text-align: justify;">{{solicitud.descripcion}}</td>
                        </tr>
                        <tr>
                            <th>PRIORIDAD:</th>
                            <td>{{solicitud.prioridadDescripcion}}</td>
                        </tr>
                        <tr>
                            <th>MEDIO DE CONTACTO:</th>
                            <td>{{solicitud.medioContactoDescripcion}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="md-headline">Seguimiento ({{documentosSeguimiento.length}})</span>
                    <h4>Unidades Administrativas con derivación:</h4>
                    <ul class="solicitud-derivaciones" style="padding: 0; margin: 0; list-style-position: inside; list-style-type: square">
                        <li ng-repeat="unidad in solicitud.derivaciones" style="line-height: 1.5em">{{unidad.unidad_administrativa}} ({{unidad.fecha_registro}})
                        </li>
                    </ul>
                    <p><strong>Observaciones:</strong> {{solicitud.observacionesDerivacion || 'No existen observaciones.'}}</p>
                    <table class="table-detalles" width="100%">
                        <thead>
                            <tr>
                                <th width="10%">FECHA</th>
                                <th width="18%">PERSONAL</th>
                                <th width="60%">OBSERVACIÓN</th>
                                <th width="20%"><span ng-if="usuario.id_perfil_usuario == 3 || usuario.id_perfil_usuario == 2">ACCIONES</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="observacion in documentosSeguimiento">
                                <td>{{observacion.fecha_registro}}</td>
                                <td>{{observacion.nombre_usuario_registro}}</td>
                                <td style="font-size: 0.9em; text-align: justify;">
                                    <span ng-style="{color: (observacion.validado == 0)}">{{observacion.observacion}}</span>
                                </td>
                                <td style="vertical-align: middle;">
                                    <div ng-if="observacion.validado == 1">
                                        <md-icon style="color: green">done_all</md-icon>
                                    </div>
                                    <div ng-if="observacion.validado == 0 && observacion.fecha_validado">
                                        <md-icon style="color: red;">highlight_off</md-icon>
                                    </div>
                                    <div ng-if="observacion.validado == 0 && !observacion.fecha_validado && (usuario.id_perfil_usuario != 3 && usuario.id_perfil_usuario != 2 && usuario.id_perfil_usuario != 4)">
                                        <md-icon style="color: #336699">help_outline</md-icon>
                                    </div>
                                    <div ng-if="(usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 4) && observacion.validado == 0 && !observacion.fecha_validado && usuario.id_unidad_administrativa != observacion.id_unidad_administrativa">
                                        <md-icon style="color: #336699">help_outline</md-icon>
                                    </div>
                                    <div ng-if="observacion.validado == 0 && !observacion.fecha_validado && (usuario.id_perfil_usuario == 3 || usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 4)">
                                        <a href="#" ng-click="$event.preventDefault(); agregarDocumentacionSoporte($event, solicitud.idSolicitud, observacion.id_observacion)" ng-if="(usuario.id_unidad_administrativa == observacion.id_unidad_administrativa && (usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3)) || (usuario.id_perfil_usuario == 4 && usuario.id_usuario == observacion.fk_id_usuario_registro)" title="Editar" style="text-decoration: none;">
                                            <md-icon>create</md-icon>
                                        </a>
                                        <a href="#" ng-click="$event.preventDefault(); validarSeguimiento($event, 1, observacion)" ng-if="usuario.id_perfil_usuario == 3" title="Validar" style="text-decoration: none;">
                                            <md-icon style="color: green; font-weight: bold;">check</md-icon>
                                        </a>
                                        <a href="#" ng-click="$event.preventDefault(); validarSeguimiento($event, 2, observacion)" ng-if="usuario.id_perfil_usuario == 3" title="Rechazar" style="text-decoration: none;">
                                            <md-icon style="color: red;">clear</md-icon>
                                        </a>
                                        <a href="#" ng-click="$event.preventDefault(); validarSeguimiento($event, 3, observacion)" ng-if="usuario.id_perfil_usuario == 3 && usuario.id_unidad_administrativa == observacion.id_unidad_administrativa" title="Eliminar" style="text-decoration: none;">
                                            <md-icon style="color: gray;">delete</md-icon>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="documentosSeguimiento.length === 0">
                            <tr>
                                <td colspan="2">No se ha agregado documentación soporte para ésta solicitud.</td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table-detalles">
                        <caption style="text-align: left;" class="md-headline">Clasificación acorde a SUG</caption>
                        <thead>
                            <tr>
                                <th>CATEGORÍA:</th>
                                <th>CLASIFICACIÓN:</th>
                                <th>SUBCLASIFICACIÓN:</th>
                                <th>CARTERA SERVICIOS:</th>
                                <th>INTERVENCIÓN:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{solicitud.categoriaDescripcion}}</td>
                                <td>{{solicitud.clasificacionDescripcion}}</td>
                                <td>{{solicitud.subclasificacionDescripcion}}</td>
                                <td>{{solicitud.carteraDescripcion}}</td>
                                <td>{{solicitud.intervencionDescripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table-detalles">
                        <caption style="text-align: left;" class="md-headline">Actividades</caption>
                        <thead>
                            <tr>
                                <th>ACTIVIDAD PRINCIPAL:</th>
                                <th>ACTIVIDADES SECUNDARIAS:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{solicitud.actividadPrincipalDescripcion}}</td>
                                <td>
                                    <ol style="margin: 0; padding: 0; list-style-position: inside">
                                        <li ng-repeat="actividad in solicitud.actividadesSecundarias">{{actividad.nombre}}</li>
                                    </ol>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table-detalles" style="font-size: 12px;">
                        <caption style="text-align: left;" class="md-headline">Contactos</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>NOMBRE</th>
                                <th>DOMICILIO</th>
                                <th>CURP</th>
                                <th>FOLIO SP</th>
                                <th>ENTIDAD</th>
                                <th>FECHA DE NACIMIENTO</th>
                                <th>CONTACTOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="persona in solicitud.personas">
                                <td>{{persona.solicitante ? 'Solicitante' : 'Contacto'}} {{persona.contactoPrincipal ? ' principal' : ''}} {{!persona.solicitante ? '(' + persona.parentescoDescripcion + ')' : ''}}</td>
                                <td>{{persona.nombre}} {{persona.primerApellido}} {{persona.segundoApellido || ''}}</td>
                                <td style="font-size: 9px;">{{persona.domicilio.municipio}}, {{persona.domicilio.entidad}}, {{persona.domicilio.localidad || ''}}, {{persona.domicilio.domicilio}}</td>
                                <td>{{persona.curp || noEspecificado}}</td>
                                <td>{{persona.folioSP}}</td>
                                <td>{{persona.entidadNacimiento}}</td>
                                <td>{{persona.fechaNacimiento}}</td>
                                <td>
                                    <strong>TELÉFONOS:</strong>
                                    <span ng-if="persona.telefonoFijo"><br> {{persona.telefonoFijo}}</span>
                                    <span ng-if="persona.telefonoMovil"><br> {{persona.telefonoMovil}}</span>
                                    <br> <strong>CORREOS:</strong>
                                    <span ng-if="persona.correo1"><br> {{persona.correo1}}</span>
                                    <span ng-if="persona.correo2"><br> {{persona.correo2}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="30%">&nbsp;</td>
                                <td width="30%">&nbsp;</td>
                                <td width="40%">
                                <br>
                                <br>
                                    <div style="text-align: center;">
                                    Validó
                                    <br>
                                    <br>
                                    <br>
                                        <hr style="border: 1px solid black;"> <strong>JOSÉ CARLOS MADRAZO CAZARÍN</strong>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>