<md-content ng-controller="SolicitudFormCtrl as solicitudForm" layout-padding>
    <form name="solicitudForm" class="solicitudForm" ng-submit="nuevaSolicitud(solicitud)">
        <div layout="row">
            <div flex="60" layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text class="md-headline">Datos de la solicitud</md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-wrap>
                        <md-input-container flex="33">
                            <md-datepicker ng-model="solicitud.fechaEvento" placeholder="Fecha" required md-open-on-focus md-max-date="maxDate"></md-datepicker>
                        </md-input-container>
                        <md-input-container flex="33">
                            <label>Medio contacto</label>
                            <md-select ng-model="solicitud.medioContacto" required>
                                <md-optgroup label="Medios de contacto">
                                    <md-option ng-repeat="medio in catalogos.catMediosContacto" ng-value="medio.id_medio_contacto">{{medio.medio_contacto}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="33">
                            <label>Prioridad</label>
                            <md-select ng-model="solicitud.prioridad" required>
                                <md-optgroup label="Prioridad">
                                    <md-option ng-repeat="prioridad in catalogos.catPrioridades" ng-value="prioridad.id_prioridad_solicitud">{{prioridad.prioridad_solicitud}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="100">
                            <label>Descripción</label>
                            <textarea ng-model="solicitud.descripcion" md-maxlength="2500" required></textarea>
                        </md-input-container>
                    </md-card-content>
                </md-card>
                <!-- CLASIFICACION -->
                <md-card>
                    <md-card-title>
                        <md-card-title-text class="md-headline">Clasificación acorde a SUG</md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-wrap>
                        <md-input-container flex="50">
                            <label>Categoría</label>
                            <md-select ng-model="solicitud.categoria" required>
                                <md-optgroup label="Categoría">
                                    <md-option ng-repeat="categoria in catalogos.catCategorias" ng-value="categoria.id_categoria_sug">{{categoria.categoria_sug}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Clasificación</label>
                            <md-select ng-model="solicitud.clasificacion" required>
                                <md-optgroup label="Clasificación">
                                    <md-option ng-repeat="clasificacion in catalogos.catClasificaciones" ng-value="clasificacion.id_clasificacion_sug">{{clasificacion.clasificacion_sug}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Subclasificación</label>
                            <md-select ng-model="solicitud.subclasificacion" required>
                                <md-optgroup label="Subclasificación">
                                    <md-option ng-repeat="subclasificacion in catalogos.catSubclasificaciones" ng-value="subclasificacion.id_subclasificacion_sug">{{subclasificacion.subclasificacion_sug}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Cartera servicios</label>
                            <md-select ng-model="solicitud.cartera" ng-change="obtenerCatIntervenciones(solicitud.cartera)">
                                <md-optgroup label="Cartera de servicios">
                                    <md-option ng-repeat="servicio in catalogos.catCarteraServicios" ng-value="servicio.id_cartera_servicios_medicos">{{servicio.cartera_servicios_medicos}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-autocomplete flex="100" md-selected-item="intervencion" md-selected-item-change="solicitud.intervencion = (intervencion.id_intervencion_carteras_servicios_medicos || '');" md-search-text="searchIntervencion" md-items="intervencion in buscarEnCatalogo(catIntervenciones, 'intervencion_completa_cartera_servicios_medicos', searchIntervencion)" md-item-text="intervencion.intervencion_cartera_servicios_medicos" md-floating-label="Intervención" md-require-match="true" md-select-on-match="true" md-min-length="0" md-autoselect="true">
                            <md-item-template>
                                <span md-highlight-text="searchIntervencion" md-highlight-flags="^i">
                  ({{intervencion.id_numero_intervencion_cartera}}) 
                  {{intervencion.intervencion_cartera_servicios_medicos}}
                  </span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-card-content>
                </md-card>
                <!-- Fin clasificacion -->
            </div>
            <div flex="40" layout="column">
                <!-- LUGAR DEL EVENTO -->
                <md-card>
                    <md-card-title>
                        <md-card-title-text class="md-headline">Lugar del evento</md-card-title-text>
                        <md-button class="md-icon-button resaltar" ng-click="copiarDireccionSolicitante('solicitud')">
                            <md-icon>content_copy</md-icon>
                        </md-button>
                    </md-card-title>
                    <md-card-content layout="row" layout-wrap>
                        <md-autocomplete flex="100" md-selected-item="entidad" md-selected-item-change="solicitud.entidad = (entidad.clave_entidad_federativa || ''); obtenerCatMunicipios(entidad.clave_entidad_federativa)" md-search-text="searchEntidad" md-items="entidad in buscarEnCatalogo(catalogos.catEntidades, 'entidad_federativa', searchEntidad)" md-item-text="entidad.entidad_federativa" md-floating-label="Entidad" md-require-match="true" md-select-on-match="true" md-min-length="0" md-no-cache="true" md-autoselect="true">
                            <md-item-template>
                                <span md-highlight-text="searchEntidad" md-highlight-flags="^i">{{entidad.entidad_federativa}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-autocomplete flex="100" md-selected-item="municipio" md-selected-item-change="solicitud.municipio = (municipio.clave_municipio || '');
                                          obtenerCatLocalidades(entidad.clave_entidad_federativa, municipio.clave_municipio);
                                          obtenerCatUnidadesMedicas(entidad.clave_entidad_federativa, municipio.clave_municipio)" md-search-text="searchMunicipio" md-items="municipio in buscarEnCatalogo(catMunicipios, 'municipio', searchMunicipio)" md-item-text="municipio.municipio" md-floating-label="Municipio" md-require-match="true" md-select-on-match="true" md-min-length="0" md-no-cache="true" md-autoselect="true">
                            <md-item-template>
                                <span md-highlight-text="searchMunicipio" md-highlight-flags="^i">{{municipio.municipio}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-autocomplete flex="100" md-selected-item="localidad" md-selected-item-change="solicitud.localidad = (localidad.clave_localidad || '');" md-search-text="searchLocalidad" md-items="localidad in buscarEnCatalogo(catLocalidades, 'localidad', searchLocalidad)" md-item-text="localidad.localidad" md-floating-label="Localidad" md-require-match="true" md-select-on-match="true" md-min-length="0" md-no-cache="true" md-autoselect="true">
                            <md-item-template>
                                <span md-highlight-text="searchLocalidad" md-highlight-flags="^i">{{localidad.localidad}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-autocomplete flex="100" md-selected-item="unidadMedica" md-selected-item-change="solicitud.unidadMedica = (unidadMedica.clues || '');" md-search-text="searchUnidadMedica" md-items="unidad in buscarEnCatalogo(catUnidadesMedicas, 'unidad_salud', searchUnidadMedica)" md-item-text="unidad.unidad_salud" md-floating-label="Unidad Médica" md-require-match="true" md-select-on-match="true" md-min-length="0" md-no-cache="true" md-autoselect="true">
                            <md-item-template>
                                <span md-highlight-text="searchUnidadMedica" md-highlight-flags="^i" style="font-size: 11px;">{{unidad.clues}} {{unidad.unidad_salud}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-card-content>
                </md-card>
                <!-- FIN LUGAR EVENTO-->
                <!-- ACTIVIDADES -->
                <md-card>
                    <md-card-title>
                        <md-card-title-text class="md-headline">Actividades</md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-wrap>
                        <md-input-container flex="100">
                            <label>Actividad principal</label>
                            <md-select ng-model="solicitud.actividadPrincipal" required ng-change="obtenerCatActividadesSecundarias(solicitud.actividadPrincipal); solicitud.actividadesSecundarias = []">
                                <md-optgroup label="Actividad principal">
                                    <md-option ng-repeat="actividad in catalogos.catActividadesPrincipales" ng-value="actividad.id_actividad_principal_solicitud">{{actividad.actividad_principal}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="100">
                            <label>Actividades secundarias</label>
                            <md-select ng-model="solicitud.actividadesSecundarias" ng-model-options="{trackBy: '$value.actividad'}" multiple required>
                                <md-optgroup label="Actividad secundaria">
                                    <md-option ng-repeat="actividad in catActividadesSecundarias" ng-value="{actividad: actividad.fk_id_actividad_secundaria_solicitud, nombre: actividad.actividad_secundaria}">{{actividad.actividad_secundaria}}</md-optgroup>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-list ng-if="solicitud.actividadesSecundarias.length > 0" ng-cloak>
                            <md-subheader>Actividades secundarias</md-subheader>
                            <md-list-item ng-repeat="actividad in solicitud.actividadesSecundarias">
                                <p>{{actividad.nombre}}</p>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-align="end center">
            <div flex="nogrow">
                <md-button type="submit" class="md-primary md-raised md-hu-2 md-padding resaltar" ng-if="!solicitud.idSolicitud" ng-disabled="solicitudForm.$invalid">
                    Guardar
                    <md-icon md-font-icon="material-icons">save</md-icon>
                </md-button>
                <md-button class="md-primary md-raised md-hu-2 md-padding resaltar" ng-click="actualizarSolicitud(solicitud)" ng-if="solicitud.idSolicitud">
                    Actualizar
                    <md-icon md-font-icon="material-icons">save</md-icon>
                </md-button>
            </div>
        </div>
    </form>
</md-content>