<div flex="100" ng-controller="SolicitudCtrl" class="solicitud-container">
    <md-tabs md-dynamic-height md-border-bottom md-autoselect md-selected="selectedIndex">
        <md-tab label="Seguimiento" ng-if="solicitud.idSolicitud">
            <ng-include src="'./src/partials/seguimientoForm.html'" />
        </md-tab>
        <md-tab ng-repeat="tab in solicitud.personas" label="{{($index === 0) ? 'Solicitante' : 'Contacto ' + $index}}" ng-if="(usuario.id_perfil_usuario == 1 && solicitud.resumen.id_estatus_solicitud == 1) || ((usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario ==3) && solicitud.resumen.id_estatus_solicitud != 4) || solicitud.resumen.id_estatus_solicitud == NULL">
            <ng-include src="'./src/partials/solicitanteForm.html'" />
        </md-tab>
        <md-tab label="Solicitud" ng-if="(usuario.id_perfil_usuario == 1 && solicitud.resumen.id_estatus_solicitud == 1) || ((usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario ==3) && solicitud.resumen.id_estatus_solicitud != 4) || solicitud.resumen.id_estatus_solicitud == NULL">
            <ng-include src="'./src/partials/solicitudForm.html'" />
        </md-tab>
        <md-tab label="FUSA" ng-if="solicitud.idSolicitud && (usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3)">
            <ng-include src="'./src/partials/fusa.html'" />
        </md-tab>
        <md-tab label="Informe de seguimiento" ng-if="solicitud.idSolicitud && (usuario.id_perfil_usuario == 2 || usuario.id_perfil_usuario == 3)">
            <ng-include src="'./src/partials/reporteSeguimiento.html'" />
        </md-tab>
    </md-tabs>
</div>