<md-content ng-controller="SolicitanteFormCtrl" layout-padding>

  <form name="solicitanteForm" class="solicitanteForm">

    <div layout="row">
      <div flex="70" layout="column">

        <md-card ng-if="!persona.solicitante">
          <md-card-content layout="row">
            <md-switch class="md-primary" flex="50"
            ng-model="persona.contactoPrincipal"
            ng-disabled="!persona.contactoPrincipal && existeContactoPrincipal(tabsSolicitudesAbiertas.selectedIndexSolicitud, selectedIndex)">Contacto principal</md-switch>

            <md-input-container flex="50">
              <label>Parentesco</label>
              <md-select ng-model="persona.parentesco" required>
                <md-optgroup label="Parentesco">
                  <md-option ng-repeat="parentesco in catalogos.catParentescos" ng-value="parentesco.id_parentesco">{{parentesco.parentesco}}</md-optgroup>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </md-card-content>
          </md-card>

          <md-card>
            <md-card-title>
              <md-card-title-text class="md-headline">Datos personales</md-card-title-text>
              <md-button class="md-icon-button md-primary md-raised resaltar"
              ng-init="botonBuscarPersonaDisabled = true"
              ng-disabled="botonBuscarPersonaDisabled"
              ng-click="buscarPersona(persona.curp || null, persona.primerApellido || null, persona.segundoApellido || null, persona.nombre || null); mostrarDialogCoincidenciasPersonas($event)">
              <md-icon class="material-icons">search</md-icon>
            </md-button>
          </md-card-title>

          <md-card-content layout="row" layout-wrap>

            <md-input-container flex="33">
              <label>Primer Apellido</label>
              <input type="text" ng-model="persona.primerApellido" required md-maxlength="50" ng-change="habilitarBotonBuscarPersona();calcularCurp()" class="mayusculas" />
            </md-input-container>

            <md-input-container flex="33">
              <label>Segundo Apellido</label>
              <input type="text" ng-model="persona.segundoApellido" md-maxlength="50" ng-change="habilitarBotonBuscarPersona();calcularCurp()" class="mayusculas" />
            </md-input-container>

            <md-input-container flex="33">
              <label>Nombre</label>
              <input type="text" ng-model="persona.nombre" required md-maxlength="50" ng-change="habilitarBotonBuscarPersona();calcularCurp()" class="mayusculas" />
            </md-input-container>

            <md-input-container flex="33">
              <md-datepicker ng-model="persona.fechaNacimiento" placeholder="Fecha de nac." md-max-date="maxDate" ng-change="calcularCurp()"></md-datepicker>
            </md-input-container>

            <md-input-container flex="33" layout="row">
              <span flex="20">Sexo:</span>
              <md-radio-group ng-model="persona.sexo" class="md-primary sexo" flex="80" ng-change="calcularCurp()" md-floating-label="Entidad de nacimiento">
                <md-radio-button value="H">Hombre</md-radio-button>
                <md-radio-button value="M">Mujer</md-radio-button>
              </md-radio-group>
            </md-input-container>

            <md-autocomplete flex="33"
            md-selected-item="entidadNacimiento"
            md-selected-item-change="persona.claveEntidadNacimiento = (entidadNacimiento.clave_entidad_federativa || '');calcularCurp()"
            md-search-text="searchEntidadNacimiento"
            md-items="entidad in buscarEnCatalogo(catalogos.catEntidades, 'entidad_federativa', searchEntidadNacimiento)"
            md-item-text="entidad.entidad_federativa"
            md-floating-label="Entidad de nacimiento"
            md-require-match="true"
            md-select-on-match="true"
            md-min-length="0"
            md-no-cache="true"
            md-autoselect="true">
            <md-item-template>
              <span md-highlight-text="searchEntidadNacimiento" md-highlight-flags="^i">{{entidad.entidad_federativa}}</span>
            </md-item-template>
          </md-autocomplete>

          <md-input-container flex="33">
            <label>CURP</label>
            <input type="text" ng-model="persona.curp" md-maxlength="18" ng-change="habilitarBotonBuscarPersona()"/>
          </md-input-container>

          <md-input-container flex="33">
            <label>Teléfono fijo</label>
            <input type="text" ng-model="persona.telefonoFijo"/>
          </md-input-container>

          <md-input-container flex="33">
            <label>Teléfono móvil</label>
            <input type="text" ng-model="persona.telefonoMovil"/>
          </md-input-container>

          <md-input-container flex="40">
            <label>Correo 1</label>
            <input type="email" ng-model="persona.correo1"/>
          </md-input-container>

          <md-input-container flex="40">
            <label>Correo 2</label>
            <input type="email" ng-model="persona.correo2"/>
          </md-input-container>


        </md-card-content>
      </md-card>



    </div>

    <div flex="30" layout="column">
     <md-card>
      <md-card-title>
        <md-card-title-text class="md-headline">Seguro Popular</md-card-title-text>
      </md-card-title>

      <md-card-content layout="">
        <md-input-container flex>
          <label>Folio</label>
          <input type="text" ng-model="persona.folioSP" md-maxlength="10">
        </md-input-container>

        <md-input-container flex>
          <label>No. de integrante</label>
          <input type="number" ng-model="persona.folioSPIntegrante" min="1">
        </md-input-container>
      </md-card-content>
    </md-card/>

    <md-card>
      <md-card-title>
        <md-card-title-text class="md-headline">Domicilio</md-card-title-text>
        <div ng-if="!persona.solicitante">
          <md-button class="md-icon-button resaltar" ng-click="copiarDireccionSolicitante('contacto', $index)">
            <md-icon>content_copy</md-icon>
          </md-button>
        </div>
      </md-card-title>

      <md-card-content layout="row" layout-wrap>
        <md-autocomplete flex="100"
        md-selected-item="domicilio.claveEntidad"
        md-selected-item-change="persona.domicilio.claveEntidad = (entidad.clave_entidad_federativa || ''); obtenerCatMunicipios(entidad.clave_entidad_federativa)"
        md-search-text="searchEntidad"
        md-items="entidad in buscarEnCatalogo(catalogos.catEntidades, 'entidad_federativa', searchEntidad)"
        md-item-text="entidad.entidad_federativa"
        md-floating-label="Entidad"
        md-require-match="true"
        md-select-on-match="true"
        md-min-length="0"
        md-no-cache="true"
        md-autoselect="true"
        md-dropdown-position="bottom"
        md-menu-calss="autocomplete-sigesa"
        md-dropdown-items="10">
        <md-item-template>
          <span md-highlight-text="searchEntidad" md-highlight-flags="^i">{{entidad.entidad_federativa}}</span>
        </md-item-template>
      </md-autocomplete>

      <md-autocomplete flex="100"
      md-selected-item="domicilio.claveMunicipio"
      md-selected-item-change="persona.domicilio.claveMunicipio = (municipio.clave_municipio || ''); obtenerCatLocalidades(domicilio.claveEntidad.clave_entidad_federativa, municipio.clave_municipio)"
      md-search-text="searchMunicipio"
      md-items="municipio in buscarEnCatalogo(catMunicipios, 'municipio', searchMunicipio)"
      md-item-text="municipio.municipio"
      md-floating-label="Municipio"
      md-require-match="true"
      md-select-on-match="true"
      md-min-length="0"
      md-no-cache="true"
      md-autoselect="true">
      <md-item-template>
        <span md-highlight-text="searchMunicipio" md-highlight-flags="^i">{{municipio.municipio}}</span>
      </md-item-template>
    </md-autocomplete>

    <md-autocomplete flex="100"
    md-selected-item="domicilio.claveLocalidad"
    md-selected-item-change="persona.domicilio.claveLocalidad = (localidad.clave_localidad || '');"
    md-search-text="searchLocalidad"
    md-items="localidad in buscarEnCatalogo(catLocalidades, 'localidad', searchLocalidad)"
    md-item-text="localidad.localidad"
    md-floating-label="Localidad"
    md-require-match="true"
    md-select-on-match="true"
    md-min-length="0"
    md-no-cache="true"
    md-autoselect="true">
    <md-item-template>
      <span md-highlight-text="searchLocalidad" md-highlight-flags="^i">{{localidad.localidad}}</span>
    </md-item-template>
  </md-autocomplete>

  <md-input-container flex="100">
    <label>Domicilio</label>
    <!--<input type="text" ng-model="persona.domicilio.domicilio" />-->
    <textarea ng-model="persona.domicilio.domicilio" class="mayusculas"></textarea>
  </md-input-container>
</md-card-content>
</md-card>

</div>

</div>

<div layout="row" layout-align="end center">
  <div flex="nogrow">
    <md-button class="md-primary md-raised md-hu-2 md-padding resaltar"
    ng-if="!persona.solicitante"
    ng-click="anteriorTab()">
    <md-icon md-font-icon="material-icons">keyboard_arrow_left</md-icon>
    Anterior
  </md-button>
  <md-button class="md-primary md-raised md-hu-2 md-padding resaltar"
  ng-if="persona.solicitante"
  ng-click="agregarContacto()">
  <md-icon md-font-icon="material-icons">account_box</md-icon>
  Agregar contacto
</md-button>
<md-button class="md-warn md-raised md-padding resaltar"
ng-if="!persona.solicitante"
ng-click="eliminarContacto(tabsSolicitudesAbiertas.selectedIndexSolicitud, selectedIndex, solicitud.idSolicitud, persona.idPersona)">
<md-icon md-font-icon="material-icons">delete</md-icon>
Eliminar contacto
</md-button>
<md-button class="md-primary md-raised md-hu-2 md-padding resaltar"
ng-click="siguienteTab()">
Siguiente
<md-icon md-font-icon="material-icons">keyboard_arrow_right</md-icon>
</md-button>
<md-button class="md-primary md-raised md-padding resaltar"
ng-if="solicitud.idSolicitud"
ng-click="guardarPersona(solicitud.idSolicitud, persona)">
<md-icon md-font-icon="material-icons">save</md-icon>
Actualizar
</md-button>
</div>
</div>

</form>

</md-content>
